<div class="m-flash-play">
	<div class="container">
		<div class="row">
		  	   <div class="col-md-12">
				  <h2 class="h1">玩赚智能管家</h2>
                  <span class="line"></span>
                  <h2>
                     <small>为梦想不放弃，为目标前行!</small>
                  </h2>
				</div>

		</div>
		<div class="row">
			<div class="col-md-3 flash-left">
				  	  <div>
					  	  	<h4><i class="fa fa-send-o"></i>智能还款</h4>
					  	  	<p>5%-10%资金实现信用卡账单全面还款！如信用卡账单到期还款需要10000.只需绑定储蓄卡和信用卡，储蓄卡存1000，软件自动帮你计算出还款计划，自动帮你还进去刷出来，让你1000元轻松度过账单日。</p>
				  	   </div>
				  	  <div>
					  	  	<h4><i class="fa fa-list-alt"></i>即时到账</h4>
					  	  	<p>还款资金执行完还款计划后，即时回到app内。</p>
				  	  </div>
				  	  <div>
				  	  		<h4><i class="fa fa-list-ul"></i>美化账单</h4>
				  	  		<p>民生银行旗下商户以第三方支付系统使您的账单更完美！</p>
				  	  </div>
			</div>
			<div class="col-md-6 flash-center">
				<div class="flash">	
					<iframe frameborder="0" width="555" height="413" src="https://v.qq.com/iframe/player.html?vid=q0518ed4xvw&tiny=0&auto=0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="col-md-3 flash-right">
			  		<div>
			  			<h4><i class="fa fa-shield"></i>安全放心</h4>
			  			<p>激活就送众安生命人寿保险一份，保障您的资金安全！</p>
			  		</div>
				  	  <div><h4><i class="fa fa-rocket"></i>使用便捷</h4><p>手机app一键搞定，隐私保密，避免您的个人账户信息外泄。</p></div>
				  	  <div><h4><i class="fa fa-signing"></i>还款费率</h4><p>每万元还款手续费低至85元，不限还款额度。不管您的信用额度高低，都可实现智能还款！</p></div>
			</div>
		</div>
	</div>
</div>
