%icon {
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
}



$names: "bell" "help" "add" "edit" "save" "remove" "submit" "yes" "back" "suspend" "close" "import" "export" "setting" "max" "min" "shrink" "search";

@each $name in $names {
    .icon-#{$name} {
        @extend %icon;
        background-image: url("../images/icons/" + $name + ".png");
    }
}