<div class="m-company-introduce" data-module="m-company-introduce" id="m-company-introduce">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="leftslide">
					   <div class="leftlogo">
					   	 <img src="./images/introduce/leftlogo.jpg" class="img-responsive" alt="">
					   </div>
					   <div class="leftmenu">
					   	     <ul>
					   	     	<li data-module="introduce_product" data-title="旗下产品" class="nav_active"><i class="fa fa-angle-double-right fa-1x"></i>旗下产品</li>
					   	     	<li data-module="introduce_company" data-title="公司简介"><i class="fa fa-angle-double-right fa-1x"></i>公司简介</li>
					   	     	<li data-module="introduce_support" data-title="技术支持"><i class="fa fa-angle-double-right fa-1x"></i>技术支持</li>
					   	     	<li data-module="introduce_certificate" data-title="资质证书"><i class="fa fa-angle-double-right fa-1x"></i>资质证书</li>
					   	     	<li data-module="introduce_lxf" data-title="乐信付简介"><i class="fa fa-angle-double-right fa-1x"></i>乐信付简介</li>
					   	     	<li data-module="introduce_market" data-title="产品市场运作方"><i class="fa fa-angle-double-right fa-1x"></i>产品市场运作方</li>
					   	     	<li data-module="introduce_price" data-title="核心价值"><i class="fa fa-angle-double-right fa-1x"></i>核心价值</li>
					   	     	<li data-module="introduce_team_support" data-title="团队支持"><i class="fa fa-angle-double-right fa-1x"></i>团队支持</li>
					   	     	<li data-module="introduce_cooperative" data-title="合作伙伴"><i class="fa fa-angle-double-right fa-1x"></i>合作伙伴</li>
					   	     </ul>
					   </div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="introduce_main">
					  <div class="introduce_title">
					  	  <span>旗下产品</span>
					  	  <span><i class="fa fa-sitemap fa-1x"></i><a class="m_home" href="#m-home" data-module="m-home">网站首页</a> > 关于我们</span>
					  </div>
					  <div class="introduce_product introduce_active" style="display:none;">
					  	 <img src="./images/introduce/intro_01.jpg" class="img-responsive" alt="">
					  	 <p>玩赚钱包是由浙江乐信付+LEPAY系统打造开发的一款集支付、办卡、贷款、金融学习、缴费、分享于一体的创客APP第四方聚合支付综合服务软件平台，拥有独立自主的手机APP端和微信公众号服务端。</p>
					  	 <p>产品覆盖了互联网线上体验场景及线下传统市场应用销售场景。是顺应互联网+分享经济时代下的产物，产品市场运作由玩赚天下公司全权负责市场运营。</p>
					  	 <p>随着央行大力推行电子货币的发展，智能移动设备可以满足从生活的衣食住行等全方位任意场景支付需求，同时银行对信用卡的发行量每年都在递增，各大银行发行虚拟信用卡，这就是无卡支付的趋势。玩赚钱包，人人可参与，人人都能赚的支付领域的一杯羹。</p>
					  	 <p>目前中国首富，9个都是在做支付行业。</p>
					  	 <img src="./images/introduce/intro_06.jpg" class="img-responsive" alt="">
					  	 <p>做支付就是在铺设高速公路</p>
						 <p>假如在高速路上让你建设一个收费站，每辆过的车都收高速费，这活你愿意干不？</p>
						 <p>你肯定愿意干！一本万利啊！</p>
						 <p>玩赚钱包和做支付有什么区别？</p>
						 <p>建设自己的POS商户体系，</p>
						 <p>商户只要刷卡，你就挣手续费（分润秒结）！</p>
						 <p>商户刷卡不停，你分润不止！商户刷得越多，你挣的越多！</p>
						 <p>马云说过：现在是大数据的时代，你穿过的衣服，再给别人穿，越来越不值钱。但在数据面前，你用过的数据，别人再用会变得更值钱。</p>
						 <p>因此，玩赚钱包立足聚合支付领域，顺应互联网+分享经济浪潮，打造万众创业、人人分红的创客平台，通过免费且帮用户省钱的产品，实现客户与平台大数据的双赢局面。</p>
						 <p>数据体量建成后，将根据客户的需求，不断更新更便捷、更优质的线上线下相结合的产品项目，同时也让每一位参与者，从中获得分红，真正的实现打造睡觉都能赚钱的被动收益APP项目。</p>
						 <p>做支付，不会一夜暴富，它的利润来自于不断地积累！客户刷卡，我们赚钱，管道收入！只要坚持去开拓市场，去开发客户，去找一群志同道合的伙伴，大家都会共同赚钱，我们的收入会从每天几十元，到几百元，到几千元，到上万，几十万，任何一个真正做支付的人，都在努力并享受着这个过程！</p>
						 <p>除了苍老师，能躺着赚钱的行业就只剩支付Pos行业了。</p>
						 <p>对于玩赚钱包来说，支付只是一个很小很小的开始，后续大数据下的体系服务才是真正的本质。</p>
						 <p>我们更有100%的理由相信，无论您是普通用户，还是我们的代理商乃至我们的平台合伙人，玩赚钱包都将会实现您的创业梦想，本着为客户省钱的思维，不断的融合线上线下实体项目，为我们的代理及合伙人创造价值。</p>
					  </div>
					  <div class="introduce_company" style="display: none;">
					  		<img class="img-responsive" src="./images/introduce/intro_02.jpg" alt="">
					  		<p>玩赚天下电子商务有限公司成立于2016年，注册在深圳前海自贸区，由上海好拉网络技术有限公司控股，是一家在互联网+及分享经济趋势下新诞生的跨界式聚合综合服务平台，运用新的思维理念将支付、旅游、金融、电商、大数据、社交媒体、传统零售体系等平台的资源融合，利用最先进的运作模式及互联网数据体系，服务广大小微商户及个人。通过大数据聚合服务，更高效、快捷的打造用户的线上及线下体验平台。</p>
					  		<p>2016年7月在互联网浪潮趋势的冲击下，与乐信付创建新产品玩赚钱包，利用创客新模式授权推广，玩赚天下公司由此而生。并在上线后的1月内平台用户达到上万人，简单、粗暴、便捷的使用推广分享体制深得用户及创业者的喜爱。</p>
					  		<p>2017年1月在旅游市场热潮冲击下，成立玩赚之旅，旅游产品板块，通过聚合全球旅游产品，打造全民参与、全民分享的开拓部署，迅速进军旅游市场。</p>
					  		<p>未来玩赚天下公司将在全国设立分公司，打造线上产品与线下传统相结合的生态产业链，以免费产品，占领全国互联网数据份额。</p>
					  </div>
					  <div class="introduce_support" style="display: none;">
					  	<img class="img-responsive" src="./images/introduce/intro_05.jpg" alt="">
					  		<h2>产品技术支持</h2>
					  		<h4>上海即刷信息技术有限公司</h4>
					  		<h4>联信（深圳）征信数据管理有限公司</h4>
					  		<h4>上海好拉网络技术有限公司</h4>
					  		<h2>平台技术支持</h2>
					  		<h4>浙江乐信付金融信息服务有限公司</h4>
					  </div>
					  <div class="introduce_certificate" style="display: none;">
						  	<div id="myCarousel" class="carousel slide">
								<!-- 轮播（Carousel）指标 -->
								<ol class="carousel-indicators">
									<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel" data-slide-to="1"></li>
									<li data-target="#myCarousel" data-slide-to="2"></li>
									<li data-target="#myCarousel" data-slide-to="3"></li>
									<li data-target="#myCarousel" data-slide-to="4"></li>
									<li data-target="#myCarousel" data-slide-to="5"></li>
								</ol>   
								<!-- 轮播（Carousel）项目 -->
								<div class="carousel-inner">
									<div class="item active">
									<img class="img-responsive" src="./images/certificate/book1.jpg" alt="First slide">
									</div>
									<div class="item">
									<img class="img-responsive" src="./images/certificate/book5.jpg" alt="Second slide">
									</div>
									<div class="item">
									<img class="img-responsive" src="./images/certificate/book6.jpg" alt="Third slide">
									</div>
									<div class="item">
									<img class="img-responsive" src="./images/certificate/book2.jpg" alt="Third slide">
									</div>
									<div class="item">
									<img class="img-responsive" src="./images/certificate/book3.jpg" alt="Third slide">
									</div>
									<div class="item">
									<img class="img-responsive" src="./images/certificate/book4.jpg" alt="Third slide">
									</div>
								</div>
								<!-- 轮播（Carousel）导航 -->
								<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
								<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
							</div>
							<!-- 控制按钮 -->
							<div style="text-align:center;" class="btn_certificate">
								<input type="button" class="btn start-slide" value="播放">
								<input type="button" class="btn pause-slide" value="暂停">
								<input type="button" class="btn prev-slide" value="上一张">
								<input type="button" class="btn next-slide" value="下一张">
								<input type="button" class="btn slide-one" value="软件著作权登记证书">
								<input type="button" class="btn slide-two" value="营业执照">
								<input type="button" class="btn slide-three" value="作品登记证书">
								<input type="button" class="btn slide-four" value="乐信付授权书">
							</div>
					  </div>
					  <div class="introduce_lxf" style="display: none;">
					  	    <h2>乐信付</h2>
					  		<p><small>(浙江乐信付金融信息服务有限公司，专业打造融合支付平台，专为金融机构及各类企业提供融合支付解决方案。)</small></p>
					  		<p>乐信付公司旗下+LePay融合支付平台作为企业首选的支付聚合平台。</p>
					  		<p>为逾万家商户提供支付解决方案及支付系统订制化服务，是B2B垂直领域技术领先的第三方支付解决方案提供商。</p>
					  		<p>为互联网公司、传统企业、O2O平台、电子商城提供SDK接口。</p>
					  		<p>只需一次接入，即可为企业提供目前最主流的支付宝支付、微信支付、Apppay、银联在线支付等19种支付方式，实现垂直一体化全渠道收单业务解决方案。</p>
					  		<p>+LePay融合支付平台为企业提供全套的收单服务，包含订单管理系统、商品管理系统，通过+LePay为其打造成熟的交易订单处理系统，为企业解决技术上的一大难题，以此节省大量时间人力成本。</p>
					  </div>
					  <div class="introduce_market" style="display: none;">
					  		<h2>玩赚天下（深圳）电子商务有限公司</h2>
					  		<img class="img-responsive" src="./images/introduce/intro_04.jpg" alt="">
					  </div>
					  <div class="introduce_price" style="display: none;">
					  	     <h3>核心技术自有</h3>
					  	     <h3>聚合产品自主开发</h3>
					  	     <h3>产品上游一手</h3>
					  	     <h3>超级商业运作模式</h3>
					  	     <h3>增值产品核心自主</h3>
					  	     <h3>大数据分析用户需求</h3>
					  </div>
					  <div class="introduce_team_support" style="display: none;">
					  	     <div class="row">
					  	     	 <div class="col-md-6">
					  	     	 	<div class="team_box">
					  	     	 		<img class="img-responsive" src="http://img.wqdian.com/group4/M00/93/42/yq0KYVhGXW-AFyROAABZpSej7zQ505.jpg" alt="">
				                         <h4><strong>高管团队</strong></h4>
				                         <!-- <p></p> -->
				                         <div class="over_message">
				                         	<p>公司高管团队都来自各业精英，有着多年的行业经验。</p>
				                         </div>
					  	     	 	</div>
				                 </div>
				                 <div class="col-md-6">
				                	<div class="team_box">
				                		<img class="img-responsive" src="http://img.wqdian.com/group4/M00/9E/E9/yq0KYFhGXoWAX8DYAACMo2Lblfw318.jpg" alt="">
				                         <h4><strong>技术团队</strong></h4>
				                         <!-- <p>公司技术团队曾经开发软件上百款，有多项知识产权。</p> -->
				                         <div class="over_message">
				                         	<p>公司技术团队曾经开发软件上百款，有多项知识产权。</p>
				                         </div>
				                	</div>
				                 </div>
					  	     </div>
					  	     <div class="row">
					  	   		<div class="col-md-6">
					  	   			<div class="team_box">
					  	   				<img class="img-responsive" src="http://img.wqdian.com/group4/M00/9E/EA/yq0KYFhGYZmAV4RiAACodKm_85I633.jpg" alt="">
			                           <h4><strong>客服团队</strong></h4>
			                           <!-- <p>公司客服团队经过专业培训，保证给客户优质的服务。</p> -->
			                           <div class="over_message">
				                         	<p>公司客服团队经过专业培训，保证给客户优质的服务。</p>
				                        </div>
					  	   			</div>
				                </div>
				                <div class="col-md-6">
				                	<div class="team_box">
				                		<img class="img-responsive" src="http://img.wqdian.com/group4/M00/93/43/yq0KYVhGYIOAU2wwAAHej-VZ7OY805.png" alt="">
				                         <h4><strong>营销团队</strong></h4>
				                         <!-- <p>公司营销团队都来自各个公司的精英，人才辈出。</p> -->
				                         <div class="over_message">
				                         	<p>公司营销团队都来自各个公司的精英，人才辈出。</p>
				                         </div>
				                	</div>
				                </div>
					  	   </div>
					  </div>
					  <div class="introduce_cooperative" style="display: none;">
						         <div class="row">
						             <div class="col-md-12">
						                  <div class="circle">
						                       <div class="circle-content">
						                            <i class="fa fa-users fa-3x"></i>
						                            <h3>合作伙伴</h3>
						                             <div class="circle-transform"></div>
						                        </div>
						                       
						                  </div>
						             </div>
						         </div>
						         <div class="row">
						             <div class="col-md-12">
						                 <div class="logos">
						                     <div class="row">
						                         <div class="col-md-4">
						                             <img class="img-responsive" src="./images/zsyh.jpg" alt="">
						                             <img class="img-responsive" src="./images/gfyh.jpg" alt="">
						                             <img class="img-responsive" src="./images/zgyh.jpg" alt="">
						                         </div>
						                         <div class="col-md-4">
						                             <img class="img-responsive" src="./images/jsyh.jpg" alt="">
						                             <img class="img-responsive" src="./images/zgyz.jpg" alt="">
						                             <img class="img-responsive" src="./images/xyyh.jpg" alt="">
						                             
						                         </div>
						                         <div class="col-md-4">
						                             <img class="img-responsive" src="./images/jtyh.jpg" alt="">
						                             <img class="img-responsive" src="./images/pfyh.jpg" alt="">
						                             <img class="img-responsive" src="./images/payh.jpg" alt="">
						                             
						                         </div>
						                     </div>
						                     <div class="row">
						                         <div class="col-md-4">
						                             <img class="img-responsive" src="./images/gsyh.jpg" alt="">
						                             <img class="img-responsive" src="./images/gdyh.jpg" alt="">
						                         </div>
						                         <div class="col-md-4">
						                             <img class="img-responsive" src="./images/msyh.jpg" alt="">
						                             <img class="img-responsive" src="./images/zxyh.jpg" alt="">
						                         </div>
						                         <div class="col-md-4">
						                             <img class="img-responsive" src="./images/nyyh.jpg" alt="">
						                             <img class="img-responsive" src="./images/shyh.jpg" alt="">
						                         </div>
						                    </div>
						                 </div>
						             </div>
						         </div>
					  </div>
				</div>
			</div>
		</div>
	</div>
</div>