<div class="m-box">
	<div class="m-header-box"></div>
	<div class="m-main-box"></div>
	<div class="m-footer-box"></div>
	<div class="right-slider">
	<ul>
		<li>
			<a href="javascript:;" target="_blank" id="slider-chat"><i class="fa fa-user-circle-o fa-2x"></i></a>
			<div class="slider-tips" style="display:none;">
				在线咨询
			</div>
		</li>
		<li>
			<a href="http://wpa.qq.com/msgrd?v=3&uin=58100592&site=qq&menu=yes" target="_blank" id="slider-qq"><i class="fa fa-qq fa-2x"></i></a>
			<div class="slider-tips" style="display:none">
				QQ咨询
			</div>
		</li>
		<li>
			<a href="javascript:;" target="_blank" id="slider-phone"><i class="fa fa-volume-control-phone fa-2x"></i></a>
			<div class="slider-tips" style="display:none">
				40000076665
			</div>
		</li>
		<li>
			<a href="javascript:;" target="_blank" id="slider-wechat"><i class="fa fa-wechat fa-2x"></i></a>
			<div class="slider-tips-wechat" style="display:none">
				<img src="./images/wx.png" alt="">
			</div>
		</li>
		<li>
			<a href="#top" id="slider-goTop" style="display:block;"><i class="fa fa-long-arrow-up fa-2x"></i></a>
		</li>
	</ul>
</div>
</div>
