[[ if(arguments[1] === 'addTab') { ]]
    [[ var _attrTitle = tip ? ('title="' + tip + '"') : '' ]]
    <li><span class="_text" {{_attrTitle}}>{{text}}</span><i></i></li>
[[ } ]]



[[ if(arguments.length === 1) { ]]
    <div class="m-spaHeader">
        <div class="m-spaHeader-logo" data-href="/" title="浏览器新标签打开"></div>
        <div class="m-spaHeader-tabs">
            <ul></ul>
            <div class="_overflow">
                <ul></ul>
            </div>
        </div>
        <div class="m-spaHeader-right">
            <div class="_message">
                <i class="icon-bell"></i><span class="message-num">6</span>
            </div>
            <div class="_user">
                <img src="_temp/portrait.png"><span>UserName</span><span class="message-num">6</span>
            </div>
            <div class="_help icon-help" data-href="/" title="系统帮助"></div>
        </div>
    </div>
[[ } ]]