$mainColor:#0099ff;
@mixin cardActive() {
    background-color: $mainColor;
    border: 1px solid $mainColor;
    box-shadow: 0 0 20px rgba(45, 183, 245, .5);
    color: #fff;
    z-index: 11;
}

.m-business-section {
    >.container {
        padding-top: 50px;
        >.row {
            >.main-title {
                >h2 {
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
            >.card-box {
                padding-top: 20px;
                padding-bottom: 60px;
                text-align: center;
                >.card-area {
                    >.row {
                        >.col-md-3 {
                            padding:0px !important;
                            margin:0px !important;
                            >.card-item {
                                //float: left;
                                position: relative;
                                list-style: none;
                                //width: 25%;
                                background-color: #fafafa;
                                border: 1px solid #c1c1c1;
                                transition: all 0.3s ease-in-out;
                                cursor: pointer;
                                &:hover {
                                    transform: scale(1.1, 1.1);
                                }
                                >.card-title {
                                    padding-top: 20px;
                                    padding-bottom: 20px;
                                    border-bottom: 1px solid #c1c1c1;
                                    >h4 {
                                        font-weight: bold;
                                    }
                                    >i {
                                        color: $mainColor;
                                    }
                                }
                                >.card-content {
                                    padding-top: 20px;
                                    padding-bottom: 30px;
                                    >p {
                                        line-height: 3em;
                                        font-weight: normal;
                                    }
                                    >a {
                                        padding-left: 20px;
                                        padding-right: 20px;
                                        &:visited {
                                            text-decoration: none;
                                        }
                                    }
                                    >.btn {
                                        transition: all 0.3s ease-in-out;
                                        &:hover {
                                            color: $mainColor;
                                            background: #ffffff;
                                            border-color: $mainColor;
                                        }
                                    }
                                    >.btn-outline-blue {
                                        color: $mainColor;
                                        background: transparent;
                                        border-color: $mainColor;
                                    }
                                }
                            }

                            >.card-active {
                                @include cardActive();
                                transform: scale(1.1, 1.1);
                                >.card-content {
                                    >.btn {
                                        background-color: $mainColor;
                                        border: 1px solid #ffffff;
                                        color: #ffffff;
                                    }
                                }
                                >.card-title {
                                    border-bottom: 1px solid #ffffff;
                                    >i {
                                        color: #fff; //padding-bottom:20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            >.text-center {
                padding-bottom:50px;
                >.btn {
                    color: $mainColor;
                    background: transparent;
                    border-color: $mainColor;
                    transition: all 0.3s ease-in-out;
                    padding: 10px 20px;
                    &:hover {
                        color: #fff;
                        background: $mainColor;
                        border-color: $mainColor;
                    }
                }
            }
        }
    }
}