<div class="m-business-section" id="m-business-section">    
      <div class="container">
        <div class="row">
            <div class="col-sm-12 main-title">
                <h2 class="h1">我们的服务</h2>

                <span class="line"></span>

                <h2>
                    <small>更多功能一步步完善中，尽请期待!</small>
                </h2>
            </div>
            <div class="col-sm-12 text-center card-box">
                <ul class="card-area">
                    <div class="row">
                        <div class="col-md-3">
                                <li class="card-item card-active">
                                    <div class="card-title">
                                        <i class="fa fa-credit-card-alt fa-3x"></i>
                                        <h4>信用卡办理</h4>
                                    </div>
                                    <div class="card-content">
                            
                            <p>智能刷卡</p>

                            <p>智能还款计划</p>

                            <p>智能养卡提高额度</p>

                            <p>美化账单</p>

                            <p>万元手续费低至85</p>
                            <a href="#m-questions-card_a" class="btn btn-outline-blue" data-module="m-questions">了解信用卡办理 →</a>
                                    </div>
                                </li>
                        </div>
                        <div class="col-md-3">
                                <li class="card-item">
                                    <div class="card-title">
                                    <i class="fa fa-cc-paypal fa-3x"></i>
                                    <h4>POS收款</h4>
                                    </div>
                                    <div class="card-content">
                                        <p>巨大利润</p>

                                        <p>多个交易渠道</p>

                                        <p>资金统一管理</p>

                                        <p>轻松实现</p>

                                        <p>智能化系统管理</p>

                                        <a href="#m-play-money" class="btn btn-outline-blue" data-module="m-play-money">了解POS收款 →</a>
                                    </div>
                                </li>
                        </div>
                        <div class="col-md-3">
                                <li class="card-item">
                                    <div class="card-title">
                                        <i class="fa fa-google-wallet fa-3x"></i>
                                        <h4>网络贷款</h4>
                                    </div>
                                    <div class="card-content">
                                        <p>还款费率低</p>

                                        <p>即时到账</p>

                                        <p>安全放心</p>

                                        <p>使用便捷</p>

                                        <p>不限还款额度</p>
                                        <a href="#m-play-card" class="btn btn-outline-blue" data-module="m-play-card">了解网络贷款 →</a>
                                    </div>
                                </li>
                        </div>
                        <div class="col-md-3">
                                    <li class="card-item">
                                        <div class="card-title">
                                            <i class="fa fa-bolt fa-3x"></i>
                                            <h4>快速提额</h4>
                                        </div>
                                        <div class="card-content">

                                            <p>空卡状态</p>

                                            <p>配合玩赚智能线下消费</p>

                                            <p>账单日后一天开始</p>

                                            <p>还款日前一天结束</p>

                                            <p>确保信用卡还款完毕</p>
                                           <a href="#m-play-money" class="btn btn-outline-blue" data-module="m-play-money">了解快速提额 →</a>
                                        </div>
                                    </li>
                        </div>
                    </div>
                       
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-12 text-center">
                <a href="#m-play-money" class="btn" data-module="m-play-money">查看更多服务</a>
            </div>
        </div>

      </div>
</div>