<div class="m-introduce">	
    <div class="container">
        <div class="row">
            <div class="col-sm-12 main-title">
                  <h2 class="h1">睿宝信用卡智能管家</h2>
                  <span class="line"></span>
                  <h2>
                     <small>国内第一款高端信用卡智能消费系统</small>
                  </h2>
                  <p>真正一站式金融服务平台，集急速办理信用卡、网络贷款、POS收款、快速提额、精养卡，支持微信，支付宝收款，支持T+0快速到账。</p>
                  <p>数据分析、金融支付、金融贷款、精细化管理。</p>
               <!--  <p>
                    提供专业的聚合支付系统解决方案和基于聚合支付交易数据统一管理的商业智能平台，提供交易及统一账单管理，覆盖O2O众多行业。
                </p>
                <p>
                    从商户接入、交易处理到业务运营，云付 以智能便捷化全流程的解决方案帮助小微商户轻松应对现代化商业O2O收付款。
                </p> -->

            </div>
        </div>
    </div>
</div>
