.m-introduce{
	padding: 70px 0px;
    //background-color: #eeeeee;
    background-image: url(http://img.wqdian.com/group3/M00/7B/9C/yq0KZFZdxiOAFDOUAAL1G-ZAAa4326.jpg);
    //background-image: url(/images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    color:#fff;
	>.container{
		>.row{
			>.main-title{
            	text-align: center;
                >h2 {
                    text-align: center;
                    margin-bottom: 30px;
                }
            	>h1{
 				   //padding: 10px 0px;
                   padding-bottom: 20px;
            	}
            	>p{
            		font-size: 18px;
                    padding: 10px 0px;
            	}
        	}
		}
        
	}
}