<div class="m-introduce">	
    <div class="container">
        <div class="row">
            <div class="col-sm-12 main-title">
                <h1>用交易连接一切</h1>
                <p>
                    提供专业的聚合支付系统解决方案和基于聚合支付交易数据统一管理的商业智能平台，提供交易及统一账单管理，覆盖O2O众多行业。
                </p>
                <p>
                    从商户接入、交易处理到业务运营，云付 以智能便捷化全流程的解决方案帮助小微商户轻松应对现代化商业O2O收付款。
                </p>

            </div>
        </div>
    </div>
</div>
