.m-introduce{
	padding: 70px 0px;
    background-color: #e1e1e1;
    //background-color:#fafafa;
	>.container{
		>.row{
			>.main-title{
            	text-align: center;
                >h2 {
                    text-align: center;
                    margin-bottom: 30px;
                }
            	>h1{
 				   //padding: 10px 0px;
                   padding-bottom: 20px;
            	}
            	>p{
            		font-size: 18px;
                    padding: 10px 0px;
            	}
        	}
		}
        
	}
}