<div class='m-header-content'>
	<div class="m-header-fixed">
		 <div class="m-header">
			 	<div class="container">
			 		<div class="row">
			 			<div class="col-md-3">
					 			<div class="m-head-logo">
									<img src="./images/logo08.png" alt="">
								</div>
								<div class="floader">
									<span href='#menus'><span/>				
								</div>
			 			</div>
		   				<div class="col-md-9">
				   			<div class="m-head-menu">
								 <ul>
								 		<li class="menu-active" data-module="m-home">
								 			<a href="#top">首页</a>
								 			<span class="line-top"></span>
								 		</li>
								 		<li data-module="m-home"><a href="#m-product-features">产品特点</a></li>
								 		<li data-module="m-home"><a href="#m-business-section">功能服务</a></li>
								 		<li data-module="m-company-introduce"><a href="#m-company-introduce">关于我们</a></li>
								 		<li data-module="m-home"><a href="#m-zhaoshang">火爆招商</a></li>
								 		<li data-module="m-home"><a href="#m-footer">联系我们</a></li>
								 		<li data-module="m-questions"><a href="#m-questions">常见问题</a></li>
								 </ul>	
							</div>
							
			   			</div>
			   			
			 		</div>
			   </div>
		 </div>	 
	</div>
	<div class="hidden-menus">
		<ul>
		 		<!-- <li class="menu-active" data-module="m-home">
		 			<a href="#top">首页</a>
		 			<span class="line-top"></span>
		 		</li>
		 		<li data-module="m-home"><a href="#m-product-features">产品特点</a></li>
		 		<li data-module="m-home"><a href="#m-business-section">功能服务</a></li>
		 		<li data-module="m-home"><a href="#m-team-support">团队支持</a></li>
		 		<li data-module="m-home"><a href="#m-cooperative-partner">合作伙伴</a></li>
		 		<li data-module="m-home"><a href="#m-footer">联系我们</a></li>
		 		<li data-module="m-questions"><a href="#m-questions">常见问题</a></li> -->
		 		<li class="menu-active" data-module="m-home">
		 			<a href="#top"><i class="fa fa-home"></i>首页</a>
		 			<span class="line-top"></span>
		 		</li>
		 		<li data-module="m-home"><a href="#m-product-features"><i class="fa fa-product-hunt"></i>产品特点</a></li>
		 		<li data-module="m-home"><a href="#m-business-section"><i class="fa fa-server"></i>功能服务</a></li>
		 		<li data-module="m-company-introduce"><a href="#m-company-introduce"><i class="fa fa-address-book"></i>关于我们</a></li>
		 		<li data-module="m-home"><a href="#m-zhaoshang"><i class="fa fa-fire"></i>火爆招商</a></li>
		 		<li data-module="m-home"><a href="#m-footer"><i class="fa fa-volume-control-phone"></i>联系我们</a></li>
		 		<li data-module="m-questions"><a href="#m-questions"><i class="fa fa-question-circle"></i>常见问题</a></li>
		 </ul>	
	</div>
</div>
