$height:80px;
$fontsize:16px;
$color:#777;
.m-header-fixed {
    height: $height;
    >.m-header {
        width: 100%;
        height: $height;
        z-index: 1000;
        position: fixed;
        right: 0;
        left: 0;
        border-bottom: 2px solid #0bA1E4;
        //box-shadow: -5px 0 3px #0bA1E4;
        background-color: #fff;
        opacity: .9;
        filter: alpha(opacity=.9);
        >.container {
            //border: 1px solid silver;
            line-height: $height;

            >.row {

                >.col-md-3 {
                    overflow: hidden;

                    >.m-head-logo {
                        max-width: 130px;
                        height: $height;
                        line-height: $height;
                        float: left;
                    }
                    >.floader {
                        width: 60px;
                        height: $height;
                        float: right;
                        display: none;
                        >span {
                            display: block;
                            width: 40px;
                            height: 40px;
                            border: 1px solid silver;
                            margin-top: 17px;
                            position: relative;
                            line-height: 40px;
                            text-align: center;
                            text-decoration: none;
                            border-radius: 10px;
                            box-shadow: 0 0 5px silver;
                            cursor: pointer;
                            &::before {
                                content: '≡';
                                font-size: 28px;
                                color: #777;
                            }
                        }
                    }
                }
                >.col-md-9 {
                    >.m-head-menu {
                        height: $height;
                        min-width: 500px; //border: 1px solid red;
                        float: right;
                        >ul {
                            //border:1px solid silver;
                            margin: 0 auto;
                            overflow: hidden;
                            text-align: right;
                            padding-left: 215px;
                            white-space:nowrap;
                            >li {

                                display: inline-block; //float:left;
                                font-size: $fontsize;
                                color: $color;
                                text-align: center; //position:relative;
                                height: $height;
                                >a {
                                    display: block;
                                    height: 30px;
                                    padding: 0px 20px;
                                    &:hover {
                                        color: #0ba1e4;
                                    }
                                }
                                >.line-top {
                                    border-bottom: 1px solid #0ba1e4;
                                    width: 18px;
                                    margin: 0 auto;
                                    display: block;
                                    height: 30px;
                                }
                            }
                            >.menu-active {
                                color: #0ba1e4;
                            }
                        }
                    }
                }
            }
        }
    }
}

.hidden-menus {
    width: 100%;
    display: none;
    >ul {
        padding: 10px;
        >li {
            line-height: 35px;
            font-size: $fontsize;
            color: $color;
            width:150px;
            >a {
                display: block;
                height: 30px;
                padding: 0px 20px;
                &:hover {
                    color: #0ba1e4;
                }
            }
        }
    }
}