<div class="m-introduce">	
    <div class="container">
        <div class="row">
            <div class="col-sm-12 main-title">
                  <h2 class="h1">玩赚信用卡管家</h2>
                  <span class="line"></span>
                  <h2>
                     <small>国内第一款高端信用卡智能消费系统</small>
                  </h2>
                  <p>真正一站式金融服务平台，集急速办理信用卡、网络贷款、POS收款、快速提额、精养卡，支持微信，支付宝收款，支持T+0快速到账。</p>
                  <p>数据分析、金融支付、金融贷款、精细化管理。</p>
                  <p>全国招商热线：40000-76665 转0人工咨询</p>
                  <div class="row">
                      <div class="col-md-12">
                                    <span>
                                        <img src="./images/card.jpg" class="img-circle">
                                        <a class="a_playCard" href="#m-play-card">玩赚养卡</a>
                                    </span>
                                    <span>
                                        <img src="./images/bag.jpg" class="img-circle">
                                        <a class="a_playMoney" href="#m-play-money">玩赚钱包</a>
                                    </span>
                        </div>
                      </div>
                  </div>

            </div>
        </div>
    </div>
</div>
