.m-cooperative-partner{
    background-image:url(http://img.wqdian.com/group3/M00/7B/9C/yq0KZFZdxiOAFDOUAAL1G-ZAAa4326.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-attachment:fixed;
    >.container{
        >.row{
            >.col-md-12{
                >.circle{
                    margin:0 auto;
                    color:#fff;
                    width:200px;
                    >div{
                        width:200px;
                        height:200px;
                        border:2px solid #fff;
                        border-radius:50%;
                        text-align:center;
                        >i{
                            font-size:150px;
                            padding-top:20px;
                        }
                        >h3{
                           text-align:center;
                        }
                    }
                }
                >.logos{
                    width:940px;
                    margin:0 auto;
                    >.row{
                        >.col-md-3{
                            padding:0px !important;
                            margin:0px !important;
                            width:240px !important;
                            //margin:0 auto !important;
                            >img{
                                width:228px;
                                height:66.28px;
                                margin:10px auto;
                            }
                        }
                    }
                }
            }
        }
    }
}