$mainColor:#0099ff;
.m-pic-scroll {
    >.carousel {
        >.carousel-inner {
        	//height: 600px;
        	//white-space:nowrap;
        	>.item{
        		>a{
        			height:100%;
                    >.summary-content{
                        position:absolute;
                        width:15%;
                        height:auto;
                        z-index:11;
                        left:70%;
                        top:20%;
                        color:rgb(255,255,255);
                        text-align:center;
                        >.imgbox{
                            >img{
                                max-height: 200px;
                                animation:wxscale 1s 0s infinite;
                                margin:0 auto;
                            }
                        }
                        
                        >p{
                            width:100%;
                            height: auto;
                            //line-height: 40px;
                            padding:10px 10px;
                            background-color: rgb(51,122,183);
                            border-color: rgb(119,119,119);
                            margin-top: 10px;
                            border-radius: 30px;
                        }
                        @keyframes wxscale{
                            0%{
                                opacity: .8;
                                transform:scale(0,0);
                            }
                            20%{
                                transform:scale(1.1,1.1);
                            }
                            40%{
                                transform:scale(0.9,0.9);
                            }
                            60%{
                                transform:scale(1.1,1.1);
                            }
                            80%{
                                transform:scale(0.9,0.9);
                            }
                            100%{
                                opacity: 1;
                                transform:scale(1.0,1.0);
                            }
                        }
                    }
        			>img{
                        //width:1920px; max-width:1920px; margin-left:0px;
                        margin:0 auto;
                        width: 100%;
        			}
        		}
        	}
        }
    }
}