<div class="m-pic-scroll">	
    <div id="carousel-example-generic" class="carousel slide my-slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a target="_blank" href="#top">
                <img src="./images/banner01.jpg" alt="玩赚钱包">
                <!-- <div class="pic-summary-01">
                    <div class="summary-content">
                        <h1>国内专业的聚合支付系统</h1>
                        <div class="sencondLeve">
                            <span>玩赚钱包app商家收银最佳助手</span>
                            <span>系统集成各银行,专业资格的第三方支付清算机构通道，为商家提供最便捷的收银软件</span>
                            <span>支付宝二维码，微信二维码，银联二维码，百度钱包，QQ钱包。京东钱包二维码，翼支付二维码</span>
                        </div>
                        <div class="thirdLeve">
                            <span>1、解决商家找零烦恼</span>
                            <span>2、客户买单便捷</span>
                            <span>3、手机扫码就能付款</span>
                            <span>4、适合各种线下移动场景</span>
                        </div>
                        
                    </div>
                </div> -->
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#top">
                <img src="./images/banner04.jpg" alt="玩赚钱包">
                <div class="pic-summary-02">
                    <div class="summary-content">
                        <div class="imgbox">
                            <img src="./images/wx.png" alt="">    
                        </div>
                        <p>扫描二维码下载APP</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#top">
                <img src="./images/zs.jpg" alt="强大的技术团队支持">
                <!-- <div class="pic-summary">
                    <div class="summary-content">
                        <h1>抱团取暖 合作共赢</h1>
                         <p>专注于为商户提供专业系统的聚合快捷支付服务!</p>
                    </div>
                </div> -->
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#top">
                <img src="./images/banner05.jpg" alt="强大的技术团队支持">
                <!-- <div class="pic-summary">
                    <div class="summary-content">
                        <h1>强大的技术团队支持</h1>
                         <p>专注于为商户提供专业系统的聚合快捷支付服务!</p>
                    </div>
                </div> -->
            </a>
        </div>
    </div>
</div>
</div>