<div class="m-pic-scroll">	
    <div id="carousel-example-generic" class="carousel slide my-slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a target="_blank" href="#top">
                <img class="img-responsive" src="./images/banner01.jpg" alt="玩赚天下">
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#top">
                <img class="img-responsive" src="./images/banner04.jpg" alt="玩赚钱包">
                    <div class="summary-content">
                        <div class="imgbox">
                            <img class="img-responsive" src="./images/wx.png"  alt="">    
                        </div>
                        <p>扫描二维码下载APP</p>
                    </div>
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#top">
                <img class="img-responsive" src="./images/zs4.jpg" alt="火爆招商">
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#top">
                <img class="img-responsive" src="./images/banner05.jpg" alt="玩赚智能管家">
            </a>
        </div>
    </div>
</div>
</div>