.m-pic-scroll {
    >.carousel {
        >.carousel-inner {
        	//height: 600px;
        	white-space:nowrap;
        	>.item{
        		>a{
        			height:100%;
        			>.pic-summary{
        				>.summary-content{
                            position:absolute;
        					width:420px;
        					height:110px;
        					z-index:11;
                            left:calc(50% - 210px);
                            bottom:60px;
        					background-color:rgba(25,191,239,0.86);
        					color:#fff;
        					transition:all 0.3s ease-in-out;
        					&:hover{
								transform:scale(1.1,1.1);
								border-radius:5px;
        					}
        					>h1{
        						text-align:center;
        						font-size:35px;
        					}
        					>p{
        						text-align:center;
        						margin-top:20px;
								font-size:15px;
        					}
        				}
        			}

        			>img{
                        //width:1920px; max-width:1920px; margin-left:0px;
        			}
        		}
        	}
        }
    }
}