.m-pic-scroll {
    >.carousel {
        >.carousel-inner {
        	//height: 600px;
        	white-space:nowrap;
        	>.item{
        		>a{
        			height:100%;
        			>.pic-summary{
        				>.summary-content{
                            position:absolute;
        					width:450px;
        					//height:110px;
        					z-index:11;
                            left:calc(50% - 225px);
                            bottom:70px;
        					background-color:rgba(25,191,239,0.86);
        					color:#fff;
        					transition:all 0.3s ease-in-out;
                            padding: 10px 0px;
        					&:hover{
								transform:scale(1.2,1.2);
								border-radius:5px;
        					}
        					>h1{
        						text-align:center;
        						font-size:35px;
        					}
        					>p{
        						text-align:center;
        						margin-top:20px;
								font-size:15px;
        					}
        				}
        			}
                    >.pic-summary-01{
                        >.summary-content{
                            position:absolute;
                            width:45%;
                            height:400px;
                            z-index:11;
                            left:12%;
                            top:70px;
                            color:#fff;
                            text-align:left;
                            padding: 20px 30px;
                            >h1{
                                font-size:40px;
                                padding-bottom: 10px;
                            }
                            >.sencondLeve{
                                >span{
                                    display: block;
                                    font-size:20px;
                                    padding: 2px 0px;
                                }
                            }
                            >.thirdLeve{
                                padding-top: 10px;
                                >span{
                                    display: block;
                                    font-size:16px;
                                    padding: 3px 0px;
                                }
                            }
                        }
                    } 
                    >.pic-summary-02{
                        >.summary-content{
                            position:absolute;
                            width:200px;
                            height:200px;
                            z-index:11;
                            left:70%;
                            top:150px;
                            color:rgb(255,255,255);
                            text-align:center;
                            >.imgbox{
                                width: 200px;
                                height: 200px;
                                >img{
                                    max-height: 200px;
                                    animation:wxscale 1s 0s infinite;
                                }
                            }
                            
                            >p{
                                width:200px;
                                height: 40px;
                                line-height: 40px;
                                background-color: rgb(51,122,183);
                                border-color: rgb(119,119,119);
                                margin-top: 10px;
                                border-radius: 30px;
                            }
                            @keyframes wxscale{
                                0%{
                                    opacity: .8;
                                    transform:scale(0,0);
                                }
                                20%{
                                    transform:scale(1.1,1.1);
                                }
                                40%{
                                    transform:scale(0.9,0.9);
                                }
                                60%{
                                    transform:scale(1.1,1.1);
                                }
                                80%{
                                    transform:scale(0.9,0.9);
                                }
                                100%{
                                    opacity: 1;
                                    transform:scale(1.0,1.0);
                                }
                            }
                        }
                    }  
        			>img{
                        //width:1920px; max-width:1920px; margin-left:0px;
        			}
        		}
        	}
        }
    }
}