<div class="m-pic-scroll">	
    <div id="carousel-example-generic" class="carousel slide my-slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a target="_blank" href="#top">
                <img src="./images/banner01.jpg" alt="玩赚钱包">
                <!-- <div class="pic-summary">
                    <div class="fitpx"></div>
                    <div class="summary-content">
                        <h1>玩赚钱包</h1>
                        <p>专注于为商户提供专业系统的聚合快捷支付服务!</p>
                    </div>
                </div> -->
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#top">
                <img src="./images/banner04.jpg" alt="玩赚钱包">
               <!--  <div class="pic-summary">
                    <div class="fitpx"></div>
                    <div class="summary-content">
                        <h1>玩赚钱包</h1>
                        <p>专注于为商户提供专业系统的聚合快捷支付服务!</p>
                    </div>
                </div> -->
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#top">
                <img src="./images/banner03.jpg" alt="强大的技术团队支持">
                <div class="pic-summary">
                    <div class="summary-content">
                        <h1>抱团取暖合作共赢</h1>
                         <p>专注于为商户提供专业系统的聚合快捷支付服务!</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#top">
                <img src="./images/banner02.jpg" alt="强大的技术团队支持">
                <div class="pic-summary">
                    <div class="summary-content">
                        <h1>强大的技术团队支持</h1>
                         <p>专注于为商户提供专业系统的聚合快捷支付服务!</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</div>