<div class="m-service-center">	
     <div class="container">
         <!-- <div class="service-title">
              <h2 class="h1">功能服务</h2>
              <p>更多功能一步步完善中，尽请期待！</p>
         </div>
         <div class="service-content">
             <div class="iconArea">
                 <span><i class="fa fa-yen fa-3x"></i></span>
                 <p><strong>无卡支付</strong></p>
             </div> 
             <div class="iconArea">
                 <span><i class="fa fa-dollar fa-3x"></i></span>
                 <p><strong>汇款转账</strong></p>
             </div> 
             <div class="iconArea">
                 <span><i class="fa fa-dollar fa-3x"></i></span>
                 <p><strong>订单支付</strong></p>
             </div> 
             <div class="iconArea">
                 <span><i class="fa fa-dollar fa-3x"></i></span>
                 <p><strong>基金理财</strong></p>
             </div> 
             <div class="iconArea">
                 <span><i class="fa fa-dollar fa-3x"></i></span>
                 <p><strong>账单查询</strong></p>
             </div> 
             <div class="iconArea">
                 <span><i class="fa fa-dollar fa-3x"></i></span>
                 <p><strong>一键贷款</strong></p>
             </div> 
             <div class="iconArea">
                 <span><i class="fa fa-dollar fa-3x"></i></span>
                 <p><strong>银行资讯</strong></p>
             </div> 
             <div class="iconArea">
                 <span><i class="fa fa-dollar fa-3x"></i></span>
                 <p><strong>一键办卡</strong></p>
             </div> 
             <div class="iconArea">
                 <span><i class="fa fa-dollar fa-3x"></i></span>
                 <p><strong>卡号登记</strong></p>
             </div>
             <div class="iconArea">
                 <span><i class="fa fa-dollar fa-3x"></i></span>
                 <p><strong>更多功能</strong></p>
             </div>
         </div> -->
        <div class="row">
                 <div class="col-md-12">
                        <div class="service-title">
                            <h2>功能服务</h2>
                            <p>更多功能一步步完善中，尽请期待！</p>
                        </div>
                 </div>
        </div>
        <div class="row">
                 <div class="col-md-12">
                       <div class="iconArea">
                         <span><i class="fa fa-mobile-phone i-1"></i></span>
                         <p><strong>无卡支付</strong></p>
                       </div> 
                       <div class="iconArea">
                             <span><i class="fa fa-money i-2"></i></span>
                             <p><strong>汇款转账</strong></p>
                       </div> 
                       <div class="iconArea">
                         <span><i class="fa fa-paypal i-3"></i></span>
                         <p><strong>订单支付</strong></p>
                       </div> 
                       <div class="iconArea">
                             <span><i class="fa fa-dollar i-4"></i></span>
                             <p><strong>基金理财</strong></p>
                       </div> 
                       <div class="iconArea">
                         <span><i class="fa fa-search-plus i-5"></i></span>
                         <p><strong>账单查询</strong></p>
                       </div> 
                       <div class="iconArea">
                             <span><i class="fa fa-hand-o-up i-6"></i></span>
                             <p><strong>一键贷款</strong></p>
                       </div> 
                       <div class="iconArea">
                         <span><i class="fa fa-building i-7"></i></span>
                         <p><strong>银行资讯</strong></p>
                       </div> 
                       <div class="iconArea">
                             <span><i class="fa fa-credit-card i-8"></i></span>
                             <p><strong>一键办卡</strong></p>
                       </div> 
                       <div class="iconArea">
                         <span><i class="fa fa-vcard i-9"></i></span>
                         <p><strong>卡号登记</strong></p>
                       </div> 
                       <div class="iconArea">
                             <span><i class="fa fa-cog i-10"></i></span>
                             <p><strong>更多功能</strong></p>
                       </div> 
                 </div>
        </div>
     </div>
</div>