<div class="m-flash-play">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<iframe frameborder="0" width="1170" height="800" src="https://v.qq.com/iframe/player.html?vid=h0559uqwif4&tiny=0&auto=0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>
