.m-flash-play{
	background-image: url(http://img.wqdian.com/group2/M00/99/B7/yq0KX1aRBleAS8a7AABy223lZ-8621.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
	>.container{
		
       >.row{
			.col-md-12{
				margin:0px;
				padding:0px;
			}
       }
	}
}