<div class="m-product-features" id="m-product-features">
   <div class="container">
       <div class="product-header">
           <div class="circle">
                <div class="circle-content">
                    <i class="fa fa-diamond fa-4x"></i>
                    <h1>玩赚应用</h3>
                    <p>高端智能消费系统</p>
                    <div class="circle-transform"></div>
                </div>
           </div>
       </div>
       <div class="product-content">
           <ul>
               <li>
                 <ul class="leftPart">
                   <li>
                     <ul>
                       <li>
                       <h4><strong>智能还款分析</strong></h4>
                       <p>可以根据不同银行的提额喜好，定制完美的消费计划，让你成为银行的优质客户。例：银行周周刷、日日刷活动，一个也不会错过，玩卡达人从此开始。</p>
                       </li>
                       <li><span class="icon-product"><i class="fa fa-area-chart fa-3x"></i></span></li>
                     </ul>
                   </li>
                   <li>
                     <ul>
                      
                       <li>
                         <h4><strong>安全保障</strong></h4>
                         <p>国内首家联合富德产险，为平台用户提供最高可达10万元的盗刷赔付。您的风险，我们承担，您的损失，保险公司赔付。</p>
                       </li>
                        <li><span class="icon-product"><i class="fa fa-shield fa-3x"></i></span></li>
                     </ul>
                   </li>
                   <li>
                     <ul>
                           <li>
                             <h4><strong>智能消费和贷款</strong></h4>
                             <p>只要您定制好还款计划，还款助手会在您规定的时间内帮您还款，让您用卡无忧，并从此改善征信状态。持卡人还可以享受“超低利息” “超高授信额度”。</p>
                           </li>
                          
                           <li><span class="icon-product"><i class="fa fa-cart-arrow-down fa-3x"></i></span></li>
                     </ul>
                   </li>
                 </ul>
               </li>
               <li><img src="./images/phone.png" class="img-responsive" alt=""></li>
               <li>
                 <ul class="rightPart">
                   <li>
                     <ul>
                        <li><span class="icon-product"><i class="fa fa-line-chart fa-3x"></i></span></li>
                        <li>
                           <h4><strong>发展趋势</strong></h4>
                           <p>信用卡账单管理；很多信用卡用户都是通过第三方信用卡账单管理软件，银行电子账单，提醒还款。还款方式：通过第三方App，手机银行网上银行，柜台存款方式。</p>
                        </li>
                        
                     </ul>
                   </li>
                   <li>
                     <ul>
                      <li><span class="icon-product"><i class="fa fa-shopping-basket fa-3x"></i></span></li>
                        <li>
                         <h4><strong>消费习惯</strong></h4>
                         <p>而在互联网的文化催生下，“懒”已经成为很多年轻人的一种生活时尚，以上的账单管理和还款方式，并不是正在解决现在信用卡用户履约还款问题，在2015年至2016年，有80%的信用卡用户都有过信用卡逾期记录。</p>
                       </li>
                       
                     </ul>
                   </li>
                   <li>
                     <ul>
                          <li><span class="icon-product"><i class="fa fa-star fa-3x"></i></span></li>
                       <li>
                         <h4><strong>信用体系</strong></h4>
                         <p>在人行建立个人，企业征信集体系统越来越完善的环境下，而整个社会对于个人履约信用能力的重视度，越来越重要。一旦失去信用，将会被这个重信用的社会抛弃。</p>
                       </li>
                     </ul>
                   </li>
                 </ul>
               </li>
           </ul>
       </div>
   </div>
</div>