<div class="m-questions" data-module="m-questions">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="question-content" id="question-content">
					<h2>无法接收验证码</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>(1) 手机带来360软件，杀毒软件，当垃圾软件拦截了。</p>
					<p>(2) 是一个号一天5条最多5条接收量，有可能超出了。</p>
					<p>(3) 手机硬件配置问题，点接收时自动显示了。</p>
					<p>(4) 提示客户不要一直点击接收按钮，点一次之后等一会儿再点，有事网络信号也会有一定的影响。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>实名认证失败</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>(1) 客户反馈输入身份证闪退问题时，建议客户使用4G网络尝试，这是网络信号导致闪退情况。</p>
					<p>(2) 检查储蓄卡银行预留手机号码及密码是否输入正确。</p>
					<p>(3) 在财务审计那边可以查询客户失败原因。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>储蓄卡绑定不上</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>(1) 绑定储蓄卡中必须至少有10元以上的余额。</p>
					<p>(2) 询问客户绑定的是什么银行储蓄卡？然后建议客户尽可能绑定4大银行储蓄卡（中国银行、建设银行、工商银行、农业银行）或者其他商业银行，地方性银行不能绑定。如果客户按照要求仍然无法绑定成功，转发一下短信，让客户直接拨打人工电话咨询。由于该用户需要实名验证持卡人身份，出现分险交易建议用户联系我司客服热线补充持卡人信息后，再尝试交易。以下是客服热线：95192,020-28863588,020-62322898。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>实名认证审核中</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>正常情况会在5-15分钟自动审核通过，如18:00后提交的客户比较急的情况下，可以提交账号+名字通知上级代理帮您申请后台审核。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>信用卡添加失败</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>(1) 信用卡余额至少预留5元以上。</p>
					<p>(2) 检查客户有效期是否输入正确。</p>
					<p>(3) 预留电话及密码是否正确。</p>
					<p>(4) CNV2输入是否正确（卡片背面后3位数）。</p>
					<p>(5) 卡片是否开通快捷支付功能，如未开通，可以让客户打电话去银行开通。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>关于充值扣取0.85%手续费客户产生的疑问</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>建议客户可以把需要充值进去的余额存入信用卡，制定一个消费计划把钱从信用卡中消费到APP余额里面，再制定一个消费计划把钱从信用卡中消费到APP余额里面，再制定余下账单还款计划，这样就会避免客户对于充值时收取的0.85%手续费的意义。<span>（例如：原计划还款1000元账单，需要1000元保证金还款，可先把1000元存入信用卡，再制定一笔1000元的消费计划，余下只需再制定9000元还款计划即可。）</span></p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>制定还款计划时注意事项</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>(1) 选择还款天数时，只要在还款日期内，可随机选择。</p>
					<p>(2) 还款笔数设置，每天最多拆分2笔，最多可拆分20笔 <span>（例如：7天，最大拆分笔数为：7*2=14笔，10天以上最多只能拆分20笔）</span>。</p>
					<p>(3) 客户对于5%保证金的质疑，原则上是能实现的，但不建议客户为了达到这个金额而去设置几个阶段，从而导致拆分笔数过多而致账单消费不合理。</p>
					<p>(4) 客户对于制定计划所需扣取的保证金不满意时，建议客户多选择天数及拆分笔数，如都达到最大限制，就多预览一下账单金额，选择其中最小的一个金额。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>关于计划执行延迟情况</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>每天计划时间以系统扫描时间为准，只要未收到短信代付失败通知，正常情况下都会当日执行，如未收到短信通知也未在当日执行计划，请提交<span>账号+名字+原因+反馈人</span>向售后人员反馈，售后人员接到反馈后将处理结果及时回复反馈人。</p>

					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>客户对重复制定计划时对手续费产生质疑</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>向客户说明我们虽然是在提交计划时一次性扣除了手续费，但我们计划执行手续费扣取方式是成功执行完一笔扣取一笔，如中途有计划中断等情况，余下手续费会自动回到APP余额里面，所以不存在多扣取手续费的情况。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>客户截图反馈都是同一地方商户情况</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>因通道架接完善中，所以会有同一地方特约商户存在的情况，后期通道完善后，这个问题就将解决。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>客户对于账户余额产生质疑</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>请客户提交<span>账号+名字+原因+反馈人</span>向售后人员反馈，售后人员接到反馈后，将处理结果及时回复反馈人。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>关于代理商管理后台的完善问题</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>现在完善中，完善后将统一通知。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>其余突发情况及特殊情况</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>安抚下级代理及客户，告诉他们我将会为他们处理，请他们提交<span>账号+名字+原因+反馈人</span>向售后人员反馈，售后人员接到反馈后将处理结果及时回复反馈人。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>客户计划失败，钱存在信用卡里的情况</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>制定消费计划把信用卡里的钱消费出来，再制定余下未执行的计划。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>设置消费计划的金额都是一样的？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>(1) 在睿宝预览计划里重新设置。</p>
					<p>(2) 一天提交一次消费计划，金额就是不一样的。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>还款计划执行完毕，保证金在哪里？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>保证金在计划完成成功之后，钱会自动回到APP里，如果都没有就需要客户提交<span>账号+名字+原因+反馈人</span>向售后人反馈，售后人员接到反馈后将处理结果及时回复反馈人。</p>
					<p><span>备注：</span>保证金就是设置计划之中最高的一笔+手续费，计划完成之后保证金会自动退回到APP余额里面。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>买了激活码绑定自己信用卡，现在想注销，再重新绑定新的邀请码可以吗？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>不可以，邀请码一旦激活就不能够注销。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>还款消费是不是当日有消费笔数限制？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>快速还款2笔可以最多拆分6笔刷卡消费出来。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>计划失败？前十分钟钱都还在后十分钟就不在了？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>这个是因为在执行消费计划，钱回到信用卡里，等再执行还款计划时，钱又回到APP余额。<span>（在执行计划时有一个时间段，钱会显示不见）</span></p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>冻结资金什么意思？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>冻结资金就是需要代付的金额，付出去消费出来就又回到了冻结，在付再消费。比如10000的卡，设置拆分10笔，就是每笔1000元，但是加上手续费85元，系统就会让还1500左右那么冻结金额就是1500.</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>影响代付失败原因</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>一账通卡会影响到代付失败。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>绑定了三张信用卡后面就绑定不了卡了？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>推出去再重新绑定。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>代理后台下发激活码设置分润费率如何理解？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>终端费率是0.85即养一万额度是85元手续费，如果你给下级代理万五分润即下发二维码的时候费率设置0.8就行，同理给万七即设置费率0.78.</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>客户使用APP实名认证和绑定信用卡过程出现错误信息哪里查看原因？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>登录后台，点开右上角的财务审计，再点开左边的财务审计栏，输入客户账号查询原因。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>当前不是还款日？当前不是还款时间？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>假设设定账单日今天14号，那么要等14号晚上12点过后即账单日第二天后才能制定计划。</p>
					<p>系统提示当前不是还款时间的时候，还款时间设定正常在10:00-6:00左右。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>提现时间？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>提现时间一般为下午1:00-5:00左右，如果有出现提现时间延迟的时候上报给上级代理商。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>通道问题：商户问题</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>现在通道有中信、平安、浦发、银联、浙商等通道，轮回的通道商户转换，商户类型现在有：商超5、餐饮、酒店、娱乐场所、商旅等等大部分商户带积分，基本费率在0.6以上左右，定位功能完善，地方商户池在搭建。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>是否会封卡降额？</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>不会的。</p>
				    <p>(1) 在银行评判持卡人是否降额是先由系统（金融模型）评判，再由人工审核，根据持卡人综合评分来评定的。总体来说，客户长期属于空卡状态本已经进入了风险客户金融模型。但是发卡行鼓励客户多刷卡，这是一个加分项金融模型，当客户用我们的软件的时候一个月消费20笔以上，这符合金融模型加分项。所以持卡人会降低风险。</p>
				    <p>(2) 现在95%以上是网络支付，这是互联网金融趋势。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>
				<div class="question-content">
					<h2>上报代理商请尽量用文字说明：</h2>
					<p class="summary">发布时间：2015年8月27日</p>
					<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
					<p>格式为：名字+账号+问题原因。</p>
					<span>阅读全文</span>
					<p class="question-line"></p>
					<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
				</div>

			</div>
			<div class="col-md-4">
				<div class="qustion-nav">
					<h4 class="title">服务专区</h4>
					<p>热线：4000 076665</p>
					<p>QQ：1719669220</p>
					<p class="hot"><i class="fa fa-weixin"></i>问答社区</p>
					<p class="hot"><i class="fa fa-tencent-weibo"></i>官方微博</p>
				</div>
				<div class="qustion-nav img">
					<h4 class="title">下载APP</h4>
					<img src="./images/wx.png" alt="">
				</div>
				<div class="qustion-nav">
					<h4 class="title">标签云</h4>
					<span>信用卡</span>
					<span>玩赚管家</span>
					<span>Pos支付</span>
					<span>方便快捷</span>
					<span>快速提额</span>
					<span>养卡计划</span>
					<span>安全放心</span>
					<span>快速放贷</span>
					<span>费率低</span>
					<span>智能分析</span>
					<span>消费习惯</span>
					<span>信用体系</span>
					<span>还款分析</span>
					<span>智能消费</span>
					<span>发展趋势</span>
				</div>
			</div>
		</div>
	</div>
</div>