<div class="m-questions" data-module="m-questions" id="m-questions">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			    <div class="sign-page">
					<ul id="myTab" class="nav nav-tabs">
						<li class="active">
							<a href="#m-questions-playCard" data-toggle="tab">
								 玩赚养卡
							</a>
						</li>
						<li>
							<a href="#m-questions-playMoney" data-toggle="tab">玩赚钱包</a>
						</li>
						<li class="dropdown">
							<a href="#" id="myTabDrop1" class="dropdown-toggle" 
							   data-toggle="dropdown">刷卡教程 
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
								<li><a href="#m-questions-operation_a" tabindex="0" data-toggle="tab">微信支付刷卡教程</a></li>
								<li><a href="#m-questions-operation_b" tabindex="1" data-toggle="tab">当面付刷卡教程</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" id="myTabDrop2" class="dropdown-toggle" 
							   data-toggle="dropdown">注册教程 
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop2">
								<li><a href="#m-questions-regin_a" tabindex="0" data-toggle="tab">注册流程详解</a></li>
								<li><a href="#m-questions-regin_b" tabindex="1" data-toggle="tab">实名认证教程</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" id="myTabDrop3" class="dropdown-toggle" 
							   data-toggle="dropdown">信用卡
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop3">
								<li><a href="#m-questions-card_a" tabindex="0" data-toggle="tab">信用卡基本知识</a></li>
								<li><a href="#m-questions-card_b" tabindex="1" data-toggle="tab">信用卡科普</a></li>
							</ul>
						</li>
						<li>
							<a href="#m-questions-card" data-toggle="tab"></a>
						</li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade in active" id="m-questions-playCard">
								<div class="question-content" id="question-content">
									<h2>无法接收验证码</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>(1) 手机带来360软件，杀毒软件，当垃圾软件拦截了。</p>
									<p>(2) 是一个号一天5条最多5条接收量，有可能超出了。</p>
									<p>(3) 手机硬件配置问题，点接收时自动显示了。</p>
									<p>(4) 提示客户不要一直点击接收按钮，点一次之后等一会儿再点，有事网络信号也会有一定的影响。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>实名认证失败</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>(1) 客户反馈输入身份证闪退问题时，建议客户使用4G网络尝试，这是网络信号导致闪退情况。</p>
									<p>(2) 检查储蓄卡银行预留手机号码及密码是否输入正确。</p>
									<p>(3) 在财务审计那边可以查询客户失败原因。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>储蓄卡绑定不上</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>(1) 绑定储蓄卡中必须至少有10元以上的余额。</p>
									<p>(2) 询问客户绑定的是什么银行储蓄卡？然后建议客户尽可能绑定4大银行储蓄卡（中国银行、建设银行、工商银行、农业银行）或者其他商业银行，地方性银行不能绑定。如果客户按照要求仍然无法绑定成功，转发一下短信，让客户直接拨打人工电话咨询。由于该用户需要实名验证持卡人身份，出现分险交易建议用户联系我司客服热线补充持卡人信息后，再尝试交易。以下是客服热线：95192,020-28863588,020-62322898。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>实名认证审核中</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>正常情况会在5-15分钟自动审核通过，如18:00后提交的客户比较急的情况下，可以提交账号+名字通知上级代理帮您申请后台审核。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>信用卡添加失败</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>(1) 信用卡余额至少预留5元以上。</p>
									<p>(2) 检查客户有效期是否输入正确。</p>
									<p>(3) 预留电话及密码是否正确。</p>
									<p>(4) CNV2输入是否正确（卡片背面后3位数）。</p>
									<p>(5) 卡片是否开通快捷支付功能，如未开通，可以让客户打电话去银行开通。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>关于充值扣取0.85%手续费客户产生的疑问</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>建议客户可以把需要充值进去的余额存入信用卡，制定一个消费计划把钱从信用卡中消费到APP余额里面，再制定一个消费计划把钱从信用卡中消费到APP余额里面，再制定余下账单还款计划，这样就会避免客户对于充值时收取的0.85%手续费的意义。<span>（例如：原计划还款1000元账单，需要1000元保证金还款，可先把1000元存入信用卡，再制定一笔1000元的消费计划，余下只需再制定9000元还款计划即可。）</span></p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>制定还款计划时注意事项</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>(1) 选择还款天数时，只要在还款日期内，可随机选择。</p>
									<p>(2) 还款笔数设置，每天最多拆分2笔，最多可拆分20笔 <span>（例如：7天，最大拆分笔数为：7*2=14笔，10天以上最多只能拆分20笔）</span>。</p>
									<p>(3) 客户对于5%保证金的质疑，原则上是能实现的，但不建议客户为了达到这个金额而去设置几个阶段，从而导致拆分笔数过多而致账单消费不合理。</p>
									<p>(4) 客户对于制定计划所需扣取的保证金不满意时，建议客户多选择天数及拆分笔数，如都达到最大限制，就多预览一下账单金额，选择其中最小的一个金额。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>关于计划执行延迟情况</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>每天计划时间以系统扫描时间为准，只要未收到短信代付失败通知，正常情况下都会当日执行，如未收到短信通知也未在当日执行计划，请提交<span>账号+名字+原因+反馈人</span>向售后人员反馈，售后人员接到反馈后将处理结果及时回复反馈人。</p>

									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>客户对重复制定计划时对手续费产生质疑</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>向客户说明我们虽然是在提交计划时一次性扣除了手续费，但我们计划执行手续费扣取方式是成功执行完一笔扣取一笔，如中途有计划中断等情况，余下手续费会自动回到APP余额里面，所以不存在多扣取手续费的情况。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>客户截图反馈都是同一地方商户情况</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>因通道架接完善中，所以会有同一地方特约商户存在的情况，后期通道完善后，这个问题就将解决。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>客户对于账户余额产生质疑</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>请客户提交<span>账号+名字+原因+反馈人</span>向售后人员反馈，售后人员接到反馈后，将处理结果及时回复反馈人。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>关于代理商管理后台的完善问题</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>现在完善中，完善后将统一通知。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>其余突发情况及特殊情况</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>安抚下级代理及客户，告诉他们我将会为他们处理，请他们提交<span>账号+名字+原因+反馈人</span>向售后人员反馈，售后人员接到反馈后将处理结果及时回复反馈人。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>客户计划失败，钱存在信用卡里的情况</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>制定消费计划把信用卡里的钱消费出来，再制定余下未执行的计划。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>设置消费计划的金额都是一样的？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>(1) 在睿宝预览计划里重新设置。</p>
									<p>(2) 一天提交一次消费计划，金额就是不一样的。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>还款计划执行完毕，保证金在哪里？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>保证金在计划完成成功之后，钱会自动回到APP里，如果都没有就需要客户提交<span>账号+名字+原因+反馈人</span>向售后人反馈，售后人员接到反馈后将处理结果及时回复反馈人。</p>
									<p><span>备注：</span>保证金就是设置计划之中最高的一笔+手续费，计划完成之后保证金会自动退回到APP余额里面。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>买了激活码绑定自己信用卡，现在想注销，再重新绑定新的邀请码可以吗？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>不可以，邀请码一旦激活就不能够注销。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>还款消费是不是当日有消费笔数限制？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>快速还款2笔可以最多拆分6笔刷卡消费出来。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>计划失败？前十分钟钱都还在后十分钟就不在了？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>这个是因为在执行消费计划，钱回到信用卡里，等再执行还款计划时，钱又回到APP余额。<span>（在执行计划时有一个时间段，钱会显示不见）</span></p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>冻结资金什么意思？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>冻结资金就是需要代付的金额，付出去消费出来就又回到了冻结，在付再消费。比如10000的卡，设置拆分10笔，就是每笔1000元，但是加上手续费85元，系统就会让还1500左右那么冻结金额就是1500.</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>影响代付失败原因</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>一账通卡会影响到代付失败。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>绑定了三张信用卡后面就绑定不了卡了？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>推出去再重新绑定。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>代理后台下发激活码设置分润费率如何理解？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>终端费率是0.85即养一万额度是85元手续费，如果你给下级代理万五分润即下发二维码的时候费率设置0.8就行，同理给万七即设置费率0.78.</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>客户使用APP实名认证和绑定信用卡过程出现错误信息哪里查看原因？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>登录后台，点开右上角的财务审计，再点开左边的财务审计栏，输入客户账号查询原因。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>当前不是还款日？当前不是还款时间？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>假设设定账单日今天14号，那么要等14号晚上12点过后即账单日第二天后才能制定计划。</p>
									<p>系统提示当前不是还款时间的时候，还款时间设定正常在10:00-6:00左右。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>提现时间？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>提现时间一般为下午1:00-5:00左右，如果有出现提现时间延迟的时候上报给上级代理商。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>通道问题：商户问题</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>现在通道有中信、平安、浦发、银联、浙商等通道，轮回的通道商户转换，商户类型现在有：商超5、餐饮、酒店、娱乐场所、商旅等等大部分商户带积分，基本费率在0.6以上左右，定位功能完善，地方商户池在搭建。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>是否会封卡降额？</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>不会的。</p>
								    <p>(1) 在银行评判持卡人是否降额是先由系统（金融模型）评判，再由人工审核，根据持卡人综合评分来评定的。总体来说，客户长期属于空卡状态本已经进入了风险客户金融模型。但是发卡行鼓励客户多刷卡，这是一个加分项金融模型，当客户用我们的软件的时候一个月消费20笔以上，这符合金融模型加分项。所以持卡人会降低风险。</p>
								    <p>(2) 现在95%以上是网络支付，这是互联网金融趋势。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content">
									<h2>上报代理商请尽量用文字说明：</h2>
									<p class="summary">发布时间：2015年8月27日</p>
									<!-- <p class="title"><i class="fa fa-folder"></i>处理方案</p> -->
									<p>格式为：名字+账号+问题原因。</p>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
						</div>
						<div class="tab-pane fade" id="m-questions-playMoney">
							 <div class="playMoneyContent" id="playMoneyContent">
							 	<ul>
							 		<li><img class="img-responsive" src="./images/help/jnmj.jpg" alt=""></li>
							 		<li>
							 			<h5>玩赚钱包作为目前最火爆的无卡支付app，每天交易量巨大，与线下的pos机使用一样，在使用中也可能会遇到各种各样的问题，遇到问题不需要着急上火，只需要对照以下问题目录寻找相关的解决方案即可。
										常见问题集锦：出现以下情况该怎么办？</h5>
										<p> 1、没有信用卡能做玩赚钱包吗？如何实名认证？</p>
										<p>2、个人信息安全如何保证？会不会泄露？</p>
										<p>3、实名认证时记不清开户行</p>
										<p>4、支付卡超过有效期</p>
										<p>5、该商户暂不支持长按二维码完成支付</p>
										<p>6、发行卡交易权限受限</p>
										<p>7、400错误，用户未激活</p>
										<p>8、信用卡支付额度已用尽，请用储蓄卡交易**元以上</p>
										<p>9、信用卡消费超过当日限额</p>
										<p>10、需要用到您的定位功能</p>
										<p>11、卡上余额不足</p>
										<p>12、耐心等待3个工作日</p>
										<p>14、错误</p>
										<p>15、刷卡不到帐</p>
							 		</li>
							 	</ul>
							 </div>
							 <div class="playMoneyContent">
							 	  <p><i>1</i>没有信用卡能做玩赚钱包吗？如何实名认证？</p>
							 	  <img class="img-responsive" src="./images/help/1.jpg" alt="">
							 	  <p>(没有信用卡的用户在上传完身份证储蓄卡照片后，点击取消即可。推广及收取分润，不受任何影响。)</p>
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>2</i>个人信息安全如何保证？会不会泄露？</p>
							 	  <img class="img-responsive" src="./images/help/2.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>3</i>实名认证时记不清开户行</p>
							 	  <img class="img-responsive" src="./images/help/3.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>4</i>支付卡超过有效期</p>
							 	  <img class="img-responsive" src="./images/help/4.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>5</i>商户暂不支持长按识别二维码</p>
							 	  <img class="img-responsive" src="./images/help/5.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>6</i>发行卡交易权限受限</p>
							 	  <img class="img-responsive" src="./images/help/6.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>7</i>400错误，用户未激活</p>
							 	  <img class="img-responsive" src="./images/help/7.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>8</i>信用卡支付交易额度已用尽</p>
							 	  <img class="img-responsive" src="./images/help/8.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>9</i>信用卡消费超过当日限额</p>
							 	  <img class="img-responsive" src="./images/help/9.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>10</i>需要用到您的定位功能</p>
							 	  <img class="img-responsive" src="./images/help/10.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>11</i>卡上余额不足</p>
							 	  <img class="img-responsive" src="./images/help/11.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>12</i>耐心等待3个工作日</p>
							 	  <img class="img-responsive" src="./images/help/12.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>13</i>错误</p>
							 	  <img class="img-responsive" src="./images/help/13.jpg" alt="">
							 </div>
							 <div class="playMoneyContent">
							 	<p><i>14</i>刷卡不到账怎么办？</p>
							 	  <img class="img-responsive" src="./images/help/14.jpg" alt="">
							 </div>
						</div>
						<div class="tab-pane fade" id="m-questions-operation_a">								
									<div class="operationContent">
										<h2>微信支付刷卡教程</h2>
										 <h5 class="summary">2015年8月27日 玩赚钱包 玩赚天下集团</h5>
									 	 <img class="img-responsive" src="./images/operation/wx01.jpg" alt="">
							 		</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx02.jpg" alt="">
									</div class="operationContent">
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx03.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx04.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx05.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx06.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx07.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx08.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx09.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx10.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx11.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx12.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/wx13.jpg" alt="">
									</div>
						</div>
						<div class="tab-pane fade" id="m-questions-operation_b">
							       <div class="operationContent">
										 <h2>当面付刷卡教程</h2>
										 <h5 class="summary">2015年8月27日 玩赚钱包 玩赚天下集团</h5>
										  <p><i>1</i>没有信用卡能做玩赚钱包吗？如何实名认证？</p>
									 	 <img class="img-responsive" src="./images/operation/dmf01.jpg" alt="">
							 		</div>
									<div class="operationContent">
										 <p><i>2</i>没有信用卡能做玩赚钱包吗？如何实名认证？</p>
										<img class="img-responsive" src="./images/operation/dmf02.jpg" alt="">
									</div>
									<div class="operationContent">
										 <p><i>3</i>没有信用卡能做玩赚钱包吗？如何实名认证？</p>
										<img class="img-responsive" src="./images/operation/dmf03.jpg" alt="">
									</div>
									<div class="operationContent">
										 <p><i>4</i>没有信用卡能做玩赚钱包吗？如何实名认证？</p>
										<img class="img-responsive" src="./images/operation/dmf04.jpg" alt="">
									</div>
									<div class="operationContent">
										 <p><i>5</i>没有信用卡能做玩赚钱包吗？如何实名认证？</p>
										<img class="img-responsive" src="./images/operation/dmf05.jpg" alt="">
									</div>
									<div class="operationContent">
										 <p><i>6</i>没有信用卡能做玩赚钱包吗？如何实名认证？</p>
										<img class="img-responsive" src="./images/operation/dmf06.jpg" alt="">
									</div>
									<div class="operationContent">
										 <p><i>7</i>没有信用卡能做玩赚钱包吗？如何实名认证？</p>
										<img class="img-responsive" src="./images/operation/dmf07.jpg" alt="">
									</div>
									<div class="operationContent">
										 <p><i>8</i>没有信用卡能做玩赚钱包吗？如何实名认证？</p>
										<img class="img-responsive" src="./images/operation/dmf08.jpg" alt="">
									</div>
						</div>
						<div class="tab-pane fade" id="m-questions-regin_a">
							  		<div class="operationContent">
										 <h2>注册流程详解</h2>
										 <h5 class="summary">2015年8月27日 玩赚钱包 玩赚天下集团</h5>
										 <h4>【玩赚钱包注册流程】</h4>
										  <p>1 接收到注册链接或二维码，点击识别，输入手机号码，验证后下载APP！</p>
										  <p>2 登录玩赚钱包APP - 点击右下角“我的” - 打开“实名认证”填写本人真实有效信息！</p>
										  <p>3 审核比较严格，信息输入无误，照片正确清晰，1-2个工作日可以审核通过！</p>
										  <h4>【注意事项】</h4>
										  <p>1 提交个人资料一定是本人真实信息资料</p>
										  <p>2 选择收单银行卡（不支持地方小银行）建议开通短信提醒</p>
										  <p>3 手持拍照一定要别人帮助，照片清晰，能看清楚卡片字迹</p>
										  <p style="padding:10px 0px;">先通过推荐人分享链接注册，在根据提示下载，然后登陆即可，根据提示进行实名认证，如对实名认证有疑问，请移步实名认证流程板块。</p>
										  <p style="color:#FF9900;font-size:14px;"><span style="color:#FF9900;font-size:18px;padding-right:10px;">注:</span>（请允许玩赚钱包app所有权限，以免无法使用。账户安全信息由平安保险承保，请放心使用。）</p>
							 		</div>
						</div>
						<div class="tab-pane fade" id="m-questions-regin_b">
							 	   <div class="operationContent">
										 <h2>实名认证教程</h2>
										 <h5 class="summary">2015年8月27日 玩赚钱包 玩赚天下集团</h5>
										  <p><i>1</i>注册、下载、登陆后根据提示进入此页面，根据图示进行即可：</p>
									 	 <img class="img-responsive" src="./images/operation/smrz01.jpg" alt="">
							 		</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/smrz02.jpg" alt="">
										<p style="text-indent:2em;padding-top:10px;">如果忘记支行信息，请致电发卡行查询，查询过后填写正确支行信息否则影响到账，然后点击搜索，有支行信息就选择，没有搜索到直接点右上方完成即可。</p>
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/smrz03.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/smrz04.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/smrz05.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/smrz06.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/smrz07.jpg" alt="">
									</div>
									<div class="operationContent">
										<img class="img-responsive" src="./images/operation/smrz08.jpg" alt="">
										<p style="color:red;text-indent:2em;padding-top:10px;">实名认证完成后，请耐心等待审核，审核通过后会有短信提醒。
										认证通过后请先刷一笔50元测试银行卡绑定信息有没有错误。</p>
									</div>
						</div>
						<div class="tab-pane fade" id="m-questions-card_a">
								<div class="question-content" id="question-content">
									<h2>信用卡基本知识</h2> 
									<p class="summary">2017年06月01日 玩赚钱包 玩赚天下集团</p>
									<h4>按卡组织不同，信用卡的等级划分为：</h4>
									<p>VISA：普卡、金卡、白金卡、御玺卡、无限卡</p>
									<p>Mastercard：普卡、金卡、白金卡、钛金卡、世界卡、世界之极卡</p>
									<p>AE运通：普卡、金卡、白金卡、百夫长卡</p>
									<p>JCB：普卡、金卡、白金卡、御尊卡</p>
									<p>银联：普卡、金卡、白金卡、钻石卡</p>
									<p>信用卡的等级越高，权益越多，同时申请门槛越高。</p>
									<p>被称为“卡中之王”的黑卡， 宣称“只要法律允许，就能满足持卡人的所有要求”，信用卡是身份的象征。</p>
									<p>究竟符合哪种卡等级，要看个人相关条件，包括工作情况、学历职称、工资流水、社保公积金、固定资产等等。</p>
									<p>若申请白金卡，多数银行要求10-50万资产，每年刷卡消费数额在10-20万左右。或为党政机关、社会团体等事业单位高层领导人。</p>
									<p>申请信用卡之前，可以审视一下自己的资产以及消费状况，根据不同的消费比例以及习惯选择不同的信用卡，适合自己的就是最好的。</p>
									<p>👋 👋 👋 👏 👏</p> 
									<p>小钱还大钱：</p>
									<p>每张信用卡都有账单日和还款日，大多数人都知道还款日，而忽略了账单日，账单日说白了就是银行和你算账的日子，算一算上个月你消费了银行多少钱。</p>
									<p>账单日之前一两天《避免节假日》最低存入总额度的百分之二十，'这样银行会觉得你不缺钱，还可以优化你的个人信用，账单日第二天，把这百分之二十分解成小额多笔的方式刷出来，再还进去，用这百分之二十循环刷出来还进去，在还款日之前累计还完你的总账单就行了。</p>
									<p>还信用卡千万不要到最后一天去还，因为这样更容易就会预期产生滞纳金。尤其是赶上节假日，好多信用卡客户，有滞纳金了都不知道，不信的话可以打印出来账单看看。</p>
									<p>[OK][OK][OK][OK][OK]</p>
        							<p>刷卡最佳时间,早上9点至晚上9点半,因为这个时间段符合消费时间,刷卡不要刷整数比如1000或500。150。5000此类数字银行非常忌讳,还有刷卡尽量小额多笔去刷，不要怕麻烦，有的人嫌刷的少，光想一次刷出来，这样银行会非常担心的。银行最注重的是资金的安全性和客户的贡献值。</p>
        							<p>🌻 🌻 🌻 🌻 🌻</p>
        							<div class="read-more">
	        							<h4>如何打造个人信用</h4>
	        							<p>1、打造个人信用</p>
	        							<p> 首先，信用是一座永不枯竭金库，拥有信用就等于拥有财富。然而，我们在银行和朋友间的信用不是一开始就非常的大。信用需要我们去经营，需要我们去一点一点的积累。</p>
	        							<p> 经常有人对我说：“，我从来不从银行借钱，也从来不找朋友借钱，是不是我的信用就很好？”</p>
	        							<p>不是的！</p>
	        							<p>为什么呢？因为银行没有历史的信用记录，就失去了一个判断你信用状况的标准。他不知道你借了钱到底会不会还。
	        							</p>
	        							<p>
	    								还有人经常问我：“为什么我和朋友关系都非常好，但是一找他借钱，好像朋友关系就没有了，电话都不接。”
	    								</p>
	    								<p>
	    								因为你们之间没有建立信用记录，他不知道你借款后是否会归还。关系好并不等于信用好。
	    								</p>
	    								<p>请大家记住一句话：</p>
	        							<p>“信用是从发生借贷关系开始的”。</p>
	        							<p>要想建立信用，就要发生借贷关系；信用记录，就是借与还的一个过程。</p>
	        							<p>那么，我们如何与银行发生借贷关系？如何在银行建立我们的信用？</p>
	        							<p>信用卡☞就是我们建立个人信用最简单、快速的方式。</p>
	        							<p>2、提前经营以备后用</p>
	        							<p>每个家庭、每个个人，都会有买房、装修、生意经营等需要资金的地方。每当我们需要资金的时候，总是会想到找亲戚、朋友借钱。但是现实生活中你会发现，亲戚、朋友什么都可以谈，就是谈到钱很伤感情。其实在所有的融资工具中，信用卡是最便捷的借贷工具。只要经营好信用，我们可以通过信用卡轻松借到几万甚至几十万资金。</p>
	        							<p>但是我们很多朋友总是没有提前去经营，到了需要钱的时候才想起申请信用卡，而申请下来额度又很低；还有的朋友因为不懂得如何经营自己的信用，申请信用卡几年了，额度依然保持原来的额度。所以，你一定要提前经营好你的信用，不要等到要用钱了，才想起申请信用卡。记住，信用是要一点一点积累的。同时还要学会正确经营信用的方法，要不然就会信用卡申请三五年了，额度却还是原来的额度。</p>
	        							<p>3、用信用创造财富</p>
	        							<p>任何个人、企业、家庭融资的目的是为了投资，如果你融来的资金不投资，放在家里，你一定会亏钱。因为，融资是有成本的。</p>
	        							<p>☀ ☀ ☀ ☀ ☀</p>
	        							<p>【在这个世界上赚钱大概有三个模式】</p>
	        							<p>第一模式：用劳动赚钱</p>
	        							<p>每天辛勤的工作，如果每年赚10万，30年大约可以赚300万。这是大多穷人赚钱的模式，辛苦一辈子，依然没有创造出多少财富；</p>
	        							<p>第二模式：用钱去赚钱</p>
	        							<p>如果你把第一年赚取的10万，找到一个投资工具，这个投资工具每年产生20%的收益，这10万30年大约可以赚2370万；如果你能找到30%的收益的投资工具，这10万30年大约可以赚2.6亿。这就是大多富人的赚钱模式，让后半生不用去工作，依然有源源不断的收入。</p>
	        							<p>第三个模式：用别人的钱来赚钱</p>
	        							<p>如果你现在没有10万元，但是学会了去经营你的信用，即可用10万元的信用，每年去创造产生20%的收益。那么这10万信用30年可创造2370万财富。这是大多超级富豪的赚钱模式。</p>
	        							<p>有人说：信用卡是国家给我们的一块地。地里有无穷无尽财富。就看你自己会不会耕耘……。</p>
	        							<p>还有人说：信用卡是国家无偿提供给穷人的一只羊.一头猪，一头牛。养大了就赚钱……看你自己是否会养。</p>
	        							<p>成功有方法。失败有原因。</p>
	        							<p>你知道国家发信用卡的目的和用意吗？</p>
	        							<p>如果会使用信用卡。方法正确。会养卡。</p>
	        							<p>半年可以将/信用卡的额度提到5万。一年后可以提额到20万左右。假如有5至6个卡。资金可以上百万。</p>
	        							<p>用20万养卡。100万左右做事业。一辈子都可以不还。并且没有利息。</p>
	        							<p>这样好的事。难道你还不去认真了解一下吗？</p>
	        							<p>银行给你10万的额度！可以把它套现出来10万，拿这10万去选择一家银行理财回报比较高的产品，一年大概收益1万多左右，信用卡每个月付给银行的利息380元，一年利息5千不到！自己纯赚6千，你说信用卡好不好用！你们还会嫌弃信用卡的额度高了不敢用吗[愉快][愉快]</p>
	        							<p>信用卡是：企业家的防火墙！</p>
	        							<p>信用卡是：成功人士的备胎！</p>
	        							<p>信用卡是：穷人翻身致富的特效药！</p>
	        							<p>如果你会使用信用卡，方法正确，会养卡，半年可以将信用卡的额度提到5万，一年后可以提额到20万左右。假如有5至6张信用卡，你的资金可以提到百万。用20万养卡，100万左右做事业，买车，买房，一辈子都可以不用还，并且没有利息。[呲牙][呲牙]这样好的事，难道你还不去认真了解一下吗？其实国家发放信用卡是有目的和用意的……你悟懂没有[微笑]？</p>
	        							<p>学金融的目的，就是为了增加财商智慧，学一些理财技巧，学会使用信用卡，学会到银行抵押贷款，学会购房、购车，改善自己生活的同时，创造财富、增加财富。</p>
	        							<p>对于没有接触过金融的人来说，先从基础做起，先学会使用信用卡、管理信用卡，并玩转信用卡，在此基础上达到理财思维观念的转变，并从中获利、获益。</p>
	        							<p>从金融的角度来分析，手里拥有两张500万额度的信用卡，你的身价就是千万。拥有了身价，银行也会自动找你，贷款就更容易审批了。</p>
	        							<p>金融的原理：尽可能用银行的钱，来做自己的事。</p>
	        							<p>有朋友会说：银行的钱是要还的，信用卡里的钱，也是要还的。</p>
	        							<p>没错，肯定要还！</p>
	        							<p>但是，假如你理解了金融的内涵，接触到了金融，并且从中尝到了甜头，你就不会这么说了。</p>
	        							<p>金融讲究闭环，就是在你能控制的范围内，能每月将该还给银行的钱还完，银行没有留下不良记录，就算玩转了。比如，我们自己花很少的钱去买商铺、写字楼、二手公寓（带租客）、二手豪宅、别墅等等，我们基本不会自住，而是出租，出租就有租金；豪车，购买低配置，改装成高配置的车以后高评估贷款，车到手以后，同样送到豪车俱乐部或需求豪车的地方出租，就有租金。当然，预先要谈好，你自己需要用车的时候，每个月要预留几天。因为在社会上办事，身份必须有，豪车就是一个标志。</p>
	        							<p>还有一点要注意：你购房或购车，每月的租金必须和银行按揭的金额出入不大，假如收到的租金远远低于银行按揭，这种生意就不要做。一定要维持平衡。</p>
	        							<p>以房养房，以车养车。</p>
	        							<p>那么，这些资产就逐步变成了自己的资产。会操作的人，自己不用花什么钱。</p>
	        							<p>因此，根据自身的实力，买什么样的房、买什么样的车技巧很多，这里就不做一 一介绍了。</p>
	        							<p>既然信用卡如此重要，那么，我们就先从信用卡入手，先玩转信用卡。</p>
	        							<p>⭐ ⭐ ⭐ 🌟 🌟 🌟 🌟 🌟</p>
	        							<h4>如何办理信用卡：</h4>
	        							<p>下载玩赚钱包，刷卡激活或者推广分享激活！</p>
	        							<p>点击免费办卡，选择适合自己的信用卡</p>
	        							<p>信用卡申请注意事项：</p>
	        							<p>1.工作年限：5年以上评分高</p>
	        							<p>2.工作性质：主管或技工评分高</p>
	        							<p>3.单位名称：8到10个字（越大气越好）</p>
	        							<p>4.单位地址：越详细越好</p>
	        							<p>5.卡片寄送：一定是单位地址</p>
	        							<p>6.住宅情况：自有无按揭</p>
	        							<p>7.家庭地址：xx省xx市xx区xx路xx小区x号楼x单元x楼x号</p>
	        							<p>8.婚姻状况：已婚</p>
	        							<p>9.教育程度：大专以上</p>
	        							<p>10.联系人：除家人外第二个联系人一定要写同事，同事比朋友和亲戚下卡几率大</p>
	        							<p>11.年收入：2.4万以下直接拒批，所以要多填点</p>
	        							<p>12.电话回访是下卡的最后一步，说明你的资料已经通过初步审核，在接到回访电话时一定要认真回答，随机应变</p>
	        							<p>13.信用记录：这一点真的非常关键，如果你跟银行没有任何存取款业务，银行也是不敢借给你的。如果有逾期或者黑户，那办卡的几率渺茫，除非碰上大型企业担保做活动（例如:支付宝芝麻信用分可以免查征信直接批卡），试想一下，如果欠款不还或者延期还款，银行还会借钱给你吗？</p>
	        							<p>要想下卡快，就多推广玩赚钱包粉丝，你推广的越多，你的分润越多，玩赚钱包就会给你担保办卡或者贷款！  重点是：一切免费！</p>
	        							<p>大家多看看你的填写是否规范，不要抱怨银行不给你批卡，先看看自己征信评分是否及格，填写的资质是否过关，毕竟是钱的问题，银行是不会随便给一个自己不了解的人发钱的！</p>
	        							<p>很多客户办卡会出现综合评分不足的现象，推广玩赚钱包'提高你的综合评分，即能下卡快还能赚钱！！[胜利][胜利][胜利][胜利][胜利]</p>
	        							<p>► 申卡顺序</p>
	        							<p>申请信用卡，无非就是为了透支消费，很多朋友也就直奔主题，想一次性拿下额度高、容易申请的信用卡，那么，哪家银行的信用卡额度高容易申请呢？</p>
	        							<p>小编认为，额度高容易申请只是相对而言，况且，额度高不一定适合自己。目前，民生银行的钻石信用卡额度最高，有500万，但是他们的要求很高，拒绝客户主动申请。</p>
	        							<p>重点来啦，我们可以采用以下办法，申请到自己心仪的信用卡，额度高且容易申请！！无论你是小白户还是申卡困难户，照样可以拿下！！</p>
	        							<p>建议申卡顺序：</p>
	        							<p>交通银行信用卡（最好批核，额度较低）；</p>
	        							<p>招商、光大、广发信用卡（容易批核，提额快，此时冷冻交行，不管他多大额度）；</p>
	        							<p>在招商提高到4万的时候，申请平安和中信（他们都参考已有卡最大额度）；</p>
	        							<p>申请浦发信用卡（参考已有卡最大额度，且不在意负债，多看重已有卡片使用率）；</p>
	        							<p>此时信用卡也有40万额度了吧，不算现金分期、备用金之类的（这些没有紧急事情尽量不要用，因为银行政策变得太快，像临时突然并不给，额度突然被降，这是常事，例如去年的平安、招行）；</p>
	        							<p>最后一步申请四大行的信用卡（有了资金慢慢养吧）。</p>
	        							<p>为什么要按照这个顺序呢？</p>
	        							<p>交通银行信用卡是因他最容易批，对于白户来说这点十分关键；</p>
	        							<p>申请招商、光大、广发信用卡，是因为他们最容易提额，申请平安、中信、浦发信用卡，主要是因为他们多参考已有卡额度，且提额特别慢长。如果不申请招商，先申请浦发，那你的总授信增长十分慢；</p>
	        							<p>申请四大行是因为四大行网点多、政策稳定，也禁得住薅各种羊毛，不像小银行政策变得快，说限制使用就限制，说降额就降额，说没临时就没临时，等到额度足够用了，就注销之前的小银行。</p>
	        							<p>🐰 🐰 🐰 🐰 🐰 </p>
	        							<h4>限额、降额、封卡的原因：</h4>
	        							<p>1、逾期超过6期或连续三个月未还够最低还款的。</p>
	        							<p>2、新卡一下来就一次刷掉里面90％以上的钱，特别的交通的，一但发现立刻封卡。</p>
	        							<p>3、代还次数较多，每个月就一笔进一笔出，而且还是刚还进去就立刻刷出来的。</p>
	        							<p>4、经常大额度单一商户套现、手刷小POS机套现，基本会降额、封卡。</p>
	        							<p>5、经常单一商户整数套现或刷卡时间不符合商户正常营业时间。</p>
	        							<p>6、经常消费不符合行业的金额，如机票消费20元  沙县小吃消费45000元  家用电器消费1元</p>
	        							<p>以上情况是直接导致征信不良的原因，轻则限额使用，交通、平安、民生信用卡前期就是限额使用，就是你每次最大消费额度限制在300-500元。严重的就直接降额封卡了。</p>
	        							<p>预防办法：</p>
	        							<p>1、从现在起每张卡每个月多笔小额度刷卡达到30次左右，多元化 多行业消费。</p>
	        							<p>2、卡里保证可用额度在30％以上，按时还款，不还最低，保持良好信用。</p>
        							</div>
									<span class="btn-read">阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
						</div>
						<div class="tab-pane fade" id="m-questions-card_b">
								<div class="question-content" id="question-content">
									<h2>银行电话信审怎么回答才不会被拒卡</h2>
									<p class="summary">2017年6月1日 玩赚钱包 玩赚天下集团</p>
									<p>许多卡友申请信用卡失败的原因都是在信审电话上，那么：信用卡信审电话都会问什么？</p>
									<!-- <img class="img-responsive" src="./images/help/card01.jpg"  alt=""> -->
									<h4><strong>问题一：个人信息核查</strong></h4>
									<p>最喜欢问的问题包括：</p>
									<p>（1）你工作单位地址在哪儿？</p>
									<p>其实就是想问你工作是不是很稳定，没有工作或是答不出来工作单位地址的，可能就被直接PASS</p>
									<p>（2）生日多少啊</p>
									<p>核实你信息是否真实，如果真实都是脱口而出不会有误。</p>
									<p>（3）工作多久了？</p>
									<p>工作时间不超过3个月的基本没戏，你都没转正的，银行怎么敢给你下卡。</p>
									<p>（4）每个月收入多少啊？</p>
									<p>月收入低于2000元基本免谈，如果你有奖金或是绩效，一定要着重表述，可以加分！</p>
									<div class="read-more">
										<h4><strong>问题二：借贷情况大考查</strong></h4>
										<p>（1）你名下有几张信用卡啊？</p>
										<p>一般2-3张为宜，4张以上则有一定风险</p>
										<p>（2）你的信用卡有过逾期吗？</p>
										<p>3次以上逾期都要小心，6次以上大部分电审会直接拒掉</p>
										<h4><strong>问题三：家庭情况大考查</strong></h4>
										<p>（1）家庭成员都有谁啊？</p>
										<p>基础考查，回答信息与填写资料有误可能被拒</p>
										<p>（2）家人身体状况？</p>
										<p>假设父母最近生过大病，甚至做过手术的就有点悬了，信审会觉得看病特别烧钱，而你的负担会特别重</p>
										<h4><strong>问题四：消费习惯大考查</strong></h4>
										<p>（1）每个月花销多少啊？</p>
										<p>收入2000元，花销5000元的，你就自己问问自己为什么被拒吧！</p>
										<p>（2）有花呗或是白条额度吗？每个月花费多少啊？</p>
										<p>这也是侧面问负债的，花得多，赚得少的就容易被拒，注意负债率不要超过70%</p>
										<p><strong>总结：只要根据实际情况如实回答问题即可通过信审电话，最怕的是弄虚作假，虚假材料肯定被拒。</strong></p>
									</div>

									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
								<div class="question-content" id="question-content">
									<h2>你为什么要办信用卡？（扫盲科普贴）</h2>
									<p class="summary">2017年6月1日 玩赚钱包 玩赚天下集团</p>
									<p>最近总有办信用卡的来扫楼，问我要不要办信用卡，还说办理的话可以送个保温杯或者拉杆箱，公司集体办送的开卡礼品还可以升级。</p>
									<p>结果公司有个同事拒绝了并表示至今还没办过信用卡，因为不知道如何入手办理一张适合自己的信用卡。</p>
									<p>菜导表示很诧异，这让我想起了一名菜友已经两次让我在菜鸟理财公众号上介绍一些信用卡的科普知识和推荐一些合适的信用卡。</p>
									<p>今天我就顺势而为，在这里跟大家科普一些关于信用卡的知识，毕竟信用卡跟理财还是紧密相关的。</p>
									<div class="read-more">
										<h4><i>01</i>什么是信用卡</h4>
										<p>既然是信用卡的第一篇科普，我们非常有必要去了解信用卡的定义。虽然很多人有用过信用卡，但是对信用卡的定义却不一定知道，懂的人也不妨看看，权当温习知识。</p>
										<p>信用卡分为贷记卡和准贷记卡，现在我们多数人使用的是贷记卡，贷记卡即银行发行的、并给予持卡人一定信用额度、持卡人可在信用额度内先消费后还款的信用卡。</p>
										<p>信用卡相比普通银行储蓄卡来说，最方便的就是即便你在没有现金的情况下也可以消费信用额度，只要还款日之前按期归还消费的金额就可以了。</p>
										<p>至于你能最多消费多少的额度，也就是你信用卡信用额度，这是根据你个人的情况由银行来制定的，有人多有人少。</p>
										<h4><i>02</i>为什么那么多人要用信用卡</h4>
										<p>虽然很多人没用过信用卡，但用过的人也很多，而且都在经常用，说明了信用卡还是有好处的。具体有什么好处，我认为至少有以下几方面。</p>
										<p><strong>(1) 巧用免息期</strong></p>
										<p>很多人误以为用信用卡就是进行提前消费，其实如果仅仅是这样使用信用卡的话，只会让自己因为提前消费增加财务压力。</p>
										<p>实际上我所了解的是，很多人使用信用卡还有一个很核心的原因，那就是可以巧用信用卡最长免息期，到期再还款。这样做有什么好处呢？</p>
										<p>打个比方：本来你手头有3000块，本来这3000块是要拿去消费的，但如果你有信用卡了，而且还有3000块的免息额度，这样的你就可以拿信用卡的额度先去消费，自己手头的3000块拿去理财，理财就可以赚取利息了。</p>
										<p>当然了，不同银行给你的信用卡的免息期是不同的，一般是25-56天之间。如果你在还款日前还清账单金额，就不会产生费用。</p>
										<p>但取现无免息还款期，从取现当天收取万分之五的日息，同时大部分银行还会收取一定比例的取现手续费。</p>
										<p><strong>(2) 用消费积分换礼品</strong></p>
										<p>信用卡消费一般都会有积分，积分又可以兑换一定的礼品，像菜导常用的信用卡，那些积分经常被我用来换DQ雪糕吃（是不是觉得我也很么么哒啊，哈哈）。</p>
										<p>当然了，有些信用卡的积分还可以享受各种服务，比如可以去机场的贵宾厅休息或者兑换成其他服务和商品。</p>
										<h4><i>03</i>信用卡的挑选原则</h4>
										<p><strong>(1) 选择银行</strong></p>
										<p>怎么选择一张适合自己的信用卡，可能对很多没有用过信用卡的人来说真的是一头雾水的，就像一个从没买过理财产品的人一样，根本不知道如何下手去理财。</p>
										<p>根据我自己的经验，我觉得首先选择信用卡就是要先选择银行，因为你消费了信用卡的钱之后，到还款期了你是要还钱的。</p>
										<p>目前信用卡还款支持多种还款方式，菜导觉得最方便的莫过于跟工资卡同家银行，这样可以直接设置自动还款，就不用担心忘记还款这个问题啦。</p>
										<p><strong>(2) 信用卡额度</strong></p>
										<p>除了根据自己的银行储蓄卡开办银行来选择在哪家银行办理信用卡之外，有人也会根据信用卡额度来选择。</p>
										<p>我上面提到了一下，就是信用卡的额度问题，每个银行对每个人的开卡额度都是不同的。说白了，银行会看你的资质来定你的额度，比如你的征信情况，你的财务实力等等。</p>
										<p>你在确定了你选择哪家银行开办信用卡之后，你可以根据自身情况了解哪家银行能给你心目中的额度，然后持有1-2张信用卡就可以了，一般可以满足你的日常需求了。</p>
										<p>(3) 根据消费习惯选择</p>
										<p>除了上面讲的，其实你还可以根据自己的消费习惯来选择信用卡。</p>
										<p>现在几乎每家银行信用卡都会根据人群的消费习惯区分信用卡类别，比如航旅、购物、酒店、餐饮娱乐等等。</p>
										<p>比如你是个吃货，那么特别适合选择餐饮娱乐类别的信用卡。如果要继续细分下去，那么你可以挑选哪家银行对你最常去吃的地方优惠力度或者是积分力度是最大的。</p>
										<h4><i>04</i>使用信用卡的注意事项</h4>
										<p><strong>(1) 最避讳逾期还款</strong></p>
										<p>不按期还款，这是使用信用卡最应该避讳的事情了。记住，使用信用卡不要逾期！</p>
										<p>部分人办了很多张信用卡然而却没有记住还款日，结果产生逾期记录，逾期的金额不仅会产生违约金，同时还会有征信污点（就是信用记录差）。</p>
										<p>这些征信污点，对按揭买房、买车影响很大，银行从风险控制的角度出发，是不愿意贷款给有征信污点的人的，他们会认为这样的用户也会有逾期或者是坏账风险。</p>
										<p>因此需要记好并错开每张卡的还款日，准时还款。同时我也提醒，对信用卡相关信息不熟悉的话，不宜盲目办理过多信用卡。</p>
										<p><strong>(2) 改正还款习惯</strong></p>
										<p>有些人在拿到信用卡后控制不住自己的消费欲，到了还款日无法还清，会选择分期。其实分期会产生高额利息，控制得不好，还会导致恶性循环，利滚利债务越来越大。</p>
										<p>另外有些人会只还最低，剩下的未还款项会按照日息万五，按月复利计息。但你跟银行借的钱，终归要还的，无论你怎么还你都得还清。</p>
										<p>还有的人没有理性规划好自己的收入和支出，到了月底没能力还款，反而养成习惯性只还最低的习惯。殊不知这样的习惯会被银行判定此类人群不优质，以后是比较难提额的。</p>
										<p><strong>(3) 不盲目办理级别高的卡</strong></p>
										<p>有些人在办理信用卡的时候，会因为想要拿出来炫一下信用卡的级别，但要记住越高级别的信用卡年费也必然比较高。</p>
										<p>比如有些普通白金卡年费就已经达到了几千，大家要慎重了解才能办理，因为到时你忘记还高额年费同样会造成信用污点。</p>
										<p><strong>(4) 保护好个人信息避免被盗刷</strong></p>
										<p>这个问题是一定要提醒的了，个人的信息一定要保护好。</p>
										<p>一旦你发现被盗刷，第一件事就是先拨打客服电话告知不是本人消费让银行暂停信用卡，客服会让你去附近的ATM刷卡并拿到消费收据。</p>
										<p>第二则是报警，证明你在何处，然后拿着这些证据前往银行信用卡部，等待银行调查即可。</p>
										<p>由于使用信用卡在日常生活中已经是一种普遍存在的现象，关于信用卡的知识其实还有很多，我相信还有很多菜友希望了解这方面的知识。</p>
									</div>
									<span class='btn-read'>阅读全文</span>
									<p class="question-line"></p>
									<p class="question-bottom"><i class="fa fa-folder-open-o"></i>解决方案</p>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<!-- <div class="qustion-nav">
					<h4 class="title">服务专区</h4>
					<p>热线：4000 076665</p>
					<p>QQ：1719669220</p>
					<p class="hot"><i class="fa fa-weixin"></i>问答社区</p>
					<p class="hot"><i class="fa fa-tencent-weibo"></i>官方微博</p>
				</div>
				<div class="qustion-nav img">
					<h4 class="title">下载APP</h4>
					<img class="img-responsive" src="./images/wx.png" alt="">
				</div>
				<div class="qustion-nav">
					<h4 class="title">标签云</h4>
					<span>信用卡</span>
					<span>玩赚管家</span>
					<span>Pos支付</span>
					<span>方便快捷</span>
					<span>快速提额</span>
					<span>养卡计划</span>
					<span>安全放心</span>
					<span>快速放贷</span>
					<span>费率低</span>
					<span>智能分析</span>
					<span>消费习惯</span>
					<span>信用体系</span>
					<span>还款分析</span>
					<span>智能消费</span>
					<span>发展趋势</span>
				</div> -->
			</div>
		</div>
	</div>
</div>