.m-version{
background-color: #666;
padding-top:30px;
padding-bottom:50px;
	>.container{
		>.row{
			>.col-md-12{
				text-align: center;
				color: #fafafa;
				>a{
					>p{
						margin: 10px 0px;
					}
				}
			}
		}
	}
}