<div class="m-version">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Copyright © 2006-2017 clantrip.com All Rights Reversed. 乐信付签证 京ICP备16015317号</p>
				<a href="#"><img src="./images/ghs.png" alt=""><p>京公网安备 12345678901234号</p></a>
			</div>
		</div>
	</div>
</div>