.m-spa {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #cad5db;
    >._aside {
        float: left;
    }
    >._main {
        float: right;
        box-sizing: border-box;
        margin: 10px;
        background: #fff;
        background-clip: content-box;
        >div {
            display: none;
            &._on {
                display: block;
            }
        }
    }
}