$mainColor:#0099ff;
.m-zhaoshang{
//	background-image: url(http://img.wqdian.com/group3/M00/7B/9C/yq0KZFZdxiOAFDOUAAL1G-ZAAa4326.jpg);
    background-size: cover;
//    background-repeat: no-repeat;
    background-position: 50% 50%;
//    background-attachment: fixed;
	background-image: url(./back.jpg);
    background-attachment: fixed;
	>img{
		margin:0 auto;
		width: 100%;
	}
	>.container{
		padding-top:15px;
		//background-color:#FF9900; 
		background-color:#cc3300;
		box-shadow: 0 1px 10px #FF9900;
		>.row{
			>.col-md-12{
				
				//background-color:$mainColor; 
				//overflow: hidden;
				
				img{
					margin: 0 auto;
				}
			}
			>.pstyle{
				padding-bottom:5px;
			}
		}
	}
}