<div class="m-pic-scroll">	
    <div id="carousel-example-generic" class="carousel slide my-slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a target="_blank" href="http://www.clantrip.com/index.php?m=content&c=index&a=lists&catid=9">
                <img src="http://www.clantrip.com/static/images/banner1.jpg" alt="美国签证代办">
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="http://www.clantrip.com/index.php?m=content&c=index&a=lists&catid=13">
                <img src="http://www.clantrip.com/static/images/banner2.jpg" alt="美国签证加急预约">
            </a>
        </div>
    </div>
</div>

</div>