// @mixin cardActive() {
//     background-color: #0ba1e4;
//     border: 1px solid #0ba1e4;
//     box-shadow: 0 0 20px rgba(45, 183, 245, .5);
//     color: #fff;
//     z-index: 11;
// }
// .m-business-section {
//     >.container {
//         >.row {
//             >.main-title {
//                 >h2 {
//                     text-align: center;
//                     margin-bottom: 30px;
//                 }
//                 >span{
//                     display:block;
//                     width:100px;
//                     margin:0 auto;
//                     border-top:2px solid #0ba1e4;
//                 }
//             }
//             >.card-box {
//                 padding-top: 20px;
//                 padding-bottom: 60px;
//                 text-align: center;
//                 >.card-area {
//                     overflow: hidden;
//                     >.card-item {
//                         float: left;
//                         position: relative;
//                         list-style: none;
//                         width: 25%;
//                         background-color: #fafafa;
//                         border: 1px solid #c1c1c1;
//                         transition: all 0.3s ease-in-out;
//                         cursor: pointer;
//                         &:hover {
//                             transform: scale(1.1, 1.1);
//                         }
//                         >.card-title {
//                             padding-top: 20px;
//                             padding-bottom: 20px;
//                             border-bottom: 1px solid #c1c1c1;
//                             >h4{
//                              font-weight: bold;
//                             }
//                             >i{
//                                 color:#0ba1e4;
//                             }
//                         }
//                         >.card-content {
//                             padding-top: 20px;
//                             padding-bottom: 30px;
//                             >p {
//                                 line-height: 3em;
//                                 font-weight: normal;
//                             }
//                             >a {
//                                 padding-left: 20px;
//                                 padding-right: 20px;
//                                 &:visited {
//                                     text-decoration: none;
//                                 }
//                             }
//                             >.btn {
//                                 transition: all 0.3s ease-in-out;
//                                 &:hover {
//                                     color: #0ba1e4;
//                                     background: #ffffff;
//                                     border-color: #0ba1e4;
//                                 }
//                             }
//                             >.btn-outline-blue {
//                                 color: #0ba1e4;
//                                 background: transparent;
//                                 border-color: #0ba1e4;
//                             }
//                         }
//                     }
//                     >.card-item:nth-child(1){
//                         >.card-title{
//                             >span{
//                                 &::before{
//                                     content:'$';
//                                 }
//                             }
//                         }
//                     }
//                     >.card-item:nth-child(2){
//                         >.card-title{
//                             >span{
//                                 &::before{
//                                     content:'$';
//                                 }
//                             }
//                         }
//                     }
//                     >.card-item:nth-child(3){
//                         >.card-title{
//                             >span{
//                                 &::before{
//                                     content:'$';
//                                 }
//                             }
//                         }
//                     }
//                     >.card-item:nth-child(4){
//                         >.card-title{
//                             >span{
//                                 &::before{
//                                     content:'$';
//                                 }
//                             }
//                         }
//                     }
//                     >.card-active {
//                         @include cardActive();
//                         transform: scale(1.1, 1.1);
//                         >.card-content {
//                             >.btn {
//                                 background-color: #0ba1e4;
//                                 border: 1px solid #ffffff;
//                                 color: #ffffff;
//                             }
//                         }
//                         >.card-title {
//                                 border-bottom: 1px solid #ffffff;
//                                 >i{
//                                     color:#fff;
//                                     //padding-bottom:20px;
//                                 }
//                         }
//                     }
//                 }
//             }
//             >.text-center{
//                 >.btn{
//                     color: #0ba1e4;
//                     background: transparent;
//                     border-color: #0ba1e4;
//                     transition: all 0.3s ease-in-out;
//                     padding:10px 20px;
//                     &:hover {
//                         color: #fff;
//                         background:#0ba1e4 ;
//                         border-color: #0ba1e4;
//                     }
//                 }
//             }
//         }
//     }
// }
@mixin cardActive() {
    background-color: #0ba1e4;
    border: 1px solid #0ba1e4;
    box-shadow: 0 0 20px rgba(45, 183, 245, .5);
    color: #fff;
    z-index: 11;
}

.m-business-section {
    >.container {
        >.row {
            >.main-title {
                >h2 {
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
            >.card-box {
                padding-top: 20px;
                padding-bottom: 60px;
                text-align: center;
                >.card-area {
                    >.row {
                        >.col-md-3 {
                            padding:0px !important;
                            margin:0px !important;
                            >.card-item {
                                //float: left;
                                position: relative;
                                list-style: none;
                                //width: 25%;
                                background-color: #fafafa;
                                border: 1px solid #c1c1c1;
                                transition: all 0.3s ease-in-out;
                                cursor: pointer;
                                &:hover {
                                    transform: scale(1.1, 1.1);
                                }
                                >.card-title {
                                    padding-top: 20px;
                                    padding-bottom: 20px;
                                    border-bottom: 1px solid #c1c1c1;
                                    >h4 {
                                        font-weight: bold;
                                    }
                                    >i {
                                        color: #0ba1e4;
                                    }
                                }
                                >.card-content {
                                    padding-top: 20px;
                                    padding-bottom: 30px;
                                    >p {
                                        line-height: 3em;
                                        font-weight: normal;
                                    }
                                    >a {
                                        padding-left: 20px;
                                        padding-right: 20px;
                                        &:visited {
                                            text-decoration: none;
                                        }
                                    }
                                    >.btn {
                                        transition: all 0.3s ease-in-out;
                                        &:hover {
                                            color: #0ba1e4;
                                            background: #ffffff;
                                            border-color: #0ba1e4;
                                        }
                                    }
                                    >.btn-outline-blue {
                                        color: #0ba1e4;
                                        background: transparent;
                                        border-color: #0ba1e4;
                                    }
                                }
                            }

                            >.card-active {
                                @include cardActive();
                                transform: scale(1.1, 1.1);
                                >.card-content {
                                    >.btn {
                                        background-color: #0ba1e4;
                                        border: 1px solid #ffffff;
                                        color: #ffffff;
                                    }
                                }
                                >.card-title {
                                    border-bottom: 1px solid #ffffff;
                                    >i {
                                        color: #fff; //padding-bottom:20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            >.text-center {
                >.btn {
                    color: #0ba1e4;
                    background: transparent;
                    border-color: #0ba1e4;
                    transition: all 0.3s ease-in-out;
                    padding: 10px 20px;
                    &:hover {
                        color: #fff;
                        background: #0ba1e4;
                        border-color: #0ba1e4;
                    }
                }
            }
        }
    }
}