<div class="m-team-support" id="m-team-support">	
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <h2 class="h1">团队支持</h2>
                         <span class="line"></span>
                        <h2><small>与企业发展战略紧密结合，以战略目标实现为管理目标</small></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                         <img src="http://img.wqdian.com/group4/M00/93/42/yq0KYVhGXW-AFyROAABZpSej7zQ505.jpg" alt="">
                         <h4><strong>高管团队</strong></h4>
                         <p>公司高管团队都来自各业精英，有着多年的行业经验。</p>
                </div>
                <div class="col-md-3">
                         <img src="http://img.wqdian.com/group4/M00/9E/E9/yq0KYFhGXoWAX8DYAACMo2Lblfw318.jpg" alt="">
                         <h4><strong>技术团队</strong></h4>
                         <p>公司技术团队曾经开发软件上百款，有多项知识产权。</p>
                </div>
                <div class="col-md-3">
                         <img src="http://img.wqdian.com/group4/M00/9E/EA/yq0KYFhGYZmAV4RiAACodKm_85I633.jpg" alt="">
                         <h4><strong>客服团队</strong></h4>
                         <p>公司客服团队经过专业培训，保证给客户优质的服务。</p>
                </div>
                <div class="col-md-3">
                         <img src="http://img.wqdian.com/group4/M00/93/43/yq0KYVhGYIOAU2wwAAHej-VZ7OY805.png" alt="">
                         <h4><strong>营销团队</strong></h4>
                         <p>公司营销团队都来自各个公司的精英，人才辈出。</p>
                </div>
            </div>
        </div>
</div>