.m-product-features {
    >.container {
        //border:1px solid red;
        >.product-header {
            width: 100%;
            padding-top: 5px;
            >.circle {
                text-align: center;
                border: 2px solid black;
                width: 220px;
                margin: 0 auto;
                border-radius: 50%;
                padding: 20px;
                >i {
                    font-size: 68px;
                }
            }
        }
        >.product-content {
            >ul {
                width: 100%;
                >li {
                    display: inline-block;
                    border: 1px solid silver;
                    vertical-align: middle;
                }
                >li:nth-child(1) {
                    width: 325px;
                    >ul {

                        >li {
                            width: 100%;

                            >ul {
                                width: 100%;
                                //padding: 40px 2px 20px 2px;
                                padding-left:4px;
                                >li {
                                    display: inline-block;
                                    text-align: right;
                                    vertical-align: top;
                                    >p {
                                        text-align: left;
                                    }
                                }
                                >li:nth-child(1) {
                                    width: calc(100% - 95px);
                                }
                                >li:nth-child(2) {
                                    width: 90px;
                                    >span {
                                        height: 80px;
                                        width: 80px;
                                        margin: 0 auto;
                                        display: block;
                                        text-align: center;
                                        border: 1px solid silver;
                                        border-radius: 50%;
                                        >i {
                                            padding-top: 18px;
                                        }
                                    }
                                }
                            }
                        }
                        >li:nth-child(1) {
                        	padding-top:20px;
                            .icon-product {
                                margin-top: 10px;
                            }
                        }
                        >li:nth-child(2) {
                        	padding-top: 100px;
                        	padding-bottom:70px;
                            .icon-product {
                                margin-top: 25px;
                            }
                        }
                        >li:nth-child(3) {
                            .icon-product {
                                margin-top: 25px;
                            }
                        }
                    }
                }
                >li:nth-child(2) {
                    width: 280px;
                }
                >li:nth-child(3) {
                    width: 325px;
                    >ul {
                        >li {
                            width: 100%;
                            >ul {
                                width: 100%;
                                >li {
                                    display: inline-block;
                                    text-align: left;
                                    vertical-align: top;
                                    >p {
                                        text-align: left;
                                    }
                                }
                                >li:nth-child(1) {
                                    width: 90px;
                                    >span {
                                        height: 80px;
                                        width: 80px;
                                        margin: 0 auto;
                                        display: block;
                                        text-align: center;
                                        border: 1px solid silver;
                                        border-radius: 50%;
                                        >i {
                                            padding-top: 18px;
                                        }
                                    }
                                }
                                >li:nth-child(2) {
                                    width: calc(100% - 95px);
                                }
                            }
                        }
                        >li:nth-child(1) {
                            .icon-product {
                                margin-top: 30px;
                            }
                        }
                        >li:nth-child(2) {
                        	padding-top:95px;
                        	padding-bottom:95px;
                            .icon-product {
                                margin-top: 40px;
                            }
                        }
                        >li:nth-child(3) {
                            .icon-product {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}