<div class="m-product-features" id="m-product-features">
   <div class="container">
       <div class="product-header">
           <div class="circle">
                <i class="fa fa-diamond fa-4x"></i>
                <h1>产品特点</h3>
                <p>有特点才有卖点</p>
           </div>
       </div>
       <div class="product-content">
           <ul>
               <li>
                 <ul>
                   <li>
                     <ul>
                       <li>
                       <h4><strong>方便快捷</strong></h4>
                       <p>提升了交易处理的速度，加快了商户资金使用效率，直接刷卡结账，省去现金交易和找零麻烦，自动入账，方便快捷；</p>
                       </li>
                       <li><span class="icon-product"><i class="fa fa-rocket fa-3x"></i></span></li>
                     </ul>
                   </li>
                   <li>
                     <ul>
                      
                       <li>
                         <h4><strong>统计分析</strong></h4>
                         <p>商户能够收集到相关消费者数据，通过对数据的分析、研究，从财务角度了解经营情况，可以制订出针对性的产品组合方案，提升公司竞争和盈利能力。</p>
                       </li>
                        <li><span class="icon-product"><i class="fa fa-area-chart fa-3x"></i></span></li>
                     </ul>
                   </li>
                   <li>
                     <ul>
                           <li>
                             <h4><strong>促进消费</strong></h4>
                             <p>消费直接刷卡结算，刺激大额消费和冲动型消费，鼓励现金短缺却又想购物的顾客进行消费，增加营业额；</p>
                           </li>
                          
                           <li><span class="icon-product"><i class="fa fa-cart-arrow-down fa-3x"></i></span></li>
                     </ul>
                   </li>
                 </ul>
               </li>
               <li><img src="./images/phone.png" class="img-responsive" alt=""></li>
               <li>
                 <ul>
                   <li>
                     <ul>
                        <li><span class="icon-product"><i class="fa fa-lock fa-3x"></i></span></li>
                        <li>
                           <h4><strong>安全可靠</strong></h4>
                           <p>有效规避了假币、计账错误以及现金管理，不必担心无效支票，收到假钞及携带大量现金到银行的危险，无需保留大量现金在店铺，防范盗窃等安全风险；</p>
                        </li>
                        
                     </ul>
                   </li>
                   <li>
                     <ul>
                      <li><span class="icon-product"><i class="fa fa-plane fa-3x"></i></span></li>
                        <li>
                         <h4><strong>高效周转</strong></h4>
                         <p>减少商户清算现金、交存银行等环节，提高了资金的使用效率；</p>
                       </li>
                       
                     </ul>
                   </li>
                   <li>
                     <ul>
                          <li><span class="icon-product"><i class="fa fa-database fa-3x"></i></span></li>
                       <li>
                         <h4><strong>资信积累</strong></h4>
                         <p>增加了商户在银行的现金量，可以提升商户信誉，便于借款贷款；</p>
                       </li>
                     </ul>
                   </li>
                 </ul>
               </li>
           </ul>
       </div>
   </div>
</div>