<div class="m-footer" id="m-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-2 footer-item">
				<div class="footer-list">
					<h4>常用工具</h4>
					<ul>
						<li data-module="m-play-card"><a class="a_playCard" href="#m-play-card">玩赚APP</a></li>
						<li>刷卡提额</li>
						<li>资料下载</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2 footer-item">
				  <div class="footer-list">
					<h4>快捷链接</h4>
					<ul>
						<li data-module="m-questions"> <a href="#question-content">常见问题</a></li>
						<li>养卡指南</li>
						<li>信用贷款</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2 footer-item">
				<div class="footer-list">
					<h4>关于我们</h4>
					<ul>
						<li>关于支付</li>
						<li>服务协议</li>
						<li>收藏本站</li>
					</ul>					
				</div>
			</div>
			<div class="col-xs-6 col-sm-2 footer-item">
				<div class="footer-watch">
					<img src="./images/wx.png" class="img-responsive" alt="">
					<p>微信号 : wzruibao</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 footer-item">
				<div class="footer-contact">
					<h2><img src="./images/pc-footer-phone.png" alt="">4000 076665</h2>
					<!-- <h2><img src="./images/pc-footer-mob.png" alt="">12345678</h2> -->
					<h2><img src="./images/pc-footer-qq.png" alt="">1719669220</h2>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>