<div class="m-footer" id="m-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-2 footer-item">
				<div class="footer-list">
					<h4>常用工具</h4>
					<ul>
						<li>电码查询</li>
						<li>护照追踪</li>
						<li>资料下载</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2 footer-item">
				  <div class="footer-list">
					<h4>快捷链接</h4>
					<ul>
						<li>签证咨询</li>
						<li>签证指南</li>
						<li>常见问题</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-6 col-sm-2 footer-item">
				<div class="footer-list">
					<h4>关于我们</h4>
					<ul>
						<li>关于支付</li>
						<li>服务协议</li>
						<li>收藏本站</li>
					</ul>					
				</div>
			</div>
			<div class="col-xs-6 col-sm-2 footer-item">
				<div class="footer-watch">
					<img src="./images/wechat.png" alt="">
					<p>微信号:18654287588</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4 footer-item">
				<div class="footer-contact">
					<h2><img src="./images/pc-footer-phone.png" alt="">010-12345678</h2>
					<h2><img src="./images/pc-footer-mob.png" alt="">12345678</h2>
					<h2><img src="./images/pc-footer-phone.png" alt="">13589658478</h2>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>