<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="images/wz_favicon.ico">
    <script src="<%= htmlWebpackPlugin.files.chunks['libs'].entry %>"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks['businessGlobal'].entry %>"></script>
    <title>玩赚天下</title>
    <meta name=”description” content=”玩赚钱包是由浙江乐信付+LEPAY系统打造开发的一款集支付、办卡、贷款、金融学习、缴费、分享于一体的创客APP第四方聚合支付综合服务软件平台。是顺应互联网+分享经济时代下的产物，产品市场运作由玩赚天下公司全权负责市场运营。”>
    <meta name=”keyword” content=”玩赚天下，信用卡，信用卡管家，睿宝，睿宝智能管家，玩赚钱包，玩赚养卡，玩赚“>
</head>

<body></body>

</html>