<div class="m-play-card" data-module="m-play-card" id="m-play-card">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
			    <div class="playCardIntroduce">
					   <p>玩赚自动养卡系统</p>
					   <p>互联网时代来临，在未来，所有的传统行业可能都将会被互联网替代。那么，我们针对信用卡用户做了一款具有专利权的手机APP,全名叫做玩赚智能管家。成就中介，解放卡奴，拯救逾期、黑名单，服务于银行。
玩赚智能软件的原理及结构：玩赚智能软件作为一个第三方平台在用户储蓄卡与信用卡之间进行衔接。中国民生银行直接授权（资质、合约），由民生银行控制资金流，并且有众安保险的投保。</p>
				</div>
			</div>
			<div class="col-md-4">

			</div>
		</div>
	</div>
</div>