$mainColor:#0099ff;
.m-cooperative-partner {
    background-image: url(http://img.wqdian.com/group3/M00/7B/9C/yq0KZFZdxiOAFDOUAAL1G-ZAAa4326.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;

    >.container {
        padding: 50px 0px;
        >.row {
            >.col-md-12 {
                text-align: center;
                >.circle {
                    margin: 10px auto;
                    color: #fff;
                    width: 250px;
                    position: relative;
                    >.circle-content {
                        width: 260px;
                        height: 260px;
                        border-radius: 50%;
                        text-align: center;
                        cursor: pointer;
                        >i {
                            font-size: 120px;
                            padding-top: 40px;
                            &:hover {
                                color: #d9534f;
                            }
                        }
                        >h3 {
                            text-align: center;
                        }
                        .circle-active {
                            animation: circleScale 0.6s infinite;
                            animation-iteration-count: 1;
                            animation-delay: 2000;
                        }
                        @keyframes circleScale {
                            0% {
                                opacity: .1;
                                filter: alpha(opacity=10);
                                transform: scale(0);
                            }
                            100% {
                                opacity: 1;
                                filter: alpha(opacity=100);
                                transform: scale(1);
                            }
                        }
                        >.circle-transform {
                            position: absolute;
                            width: 260px;
                            height: 260px;
                            border: 2px solid #fff;
                            top: 0;
                            left: 0;
                            border-radius: 50%;
                        }
                    }
                }
                >.logos {
                    width: 940px;
                    margin: 0 auto;
                    padding-top: 20px;
                    >.row {
                        >.col-md-3 {
                            padding: 0px !important;
                            margin: 0px !important;
                            width: 240px !important; //margin:0 auto !important;
                            >img {
                                width: 228px;
                                height: 66.28px;
                                margin: 10px auto;
                                border: 5px solid #fff;
                                cursor: pointer;
                            }
                            .img-active {
                                animation: imgRotate 0.5s infinite;
                                animation-iteration-count: 1; //transform:rotateX(360deg);
                            }
                            @keyframes imgRotate {
                                0% {
                                    opacity: .1;
                                    filter: alpha(opacity=10);
                                    transform: perspective(200px) rotatex(180deg);
                                }
                                50% {
                                    opacity: .3;
                                    filter: alpha(opacity=30);
                                    transform: perspective(200px) rotatex(90deg);
                                }
                                80% {
                                    opacity: .5;
                                    filter: alpha(opacity=50);
                                    transform: perspective(200px) rotatex(-20deg);
                                }
                                100% {
                                    opacity: 1;
                                    filter: alpha(opacity=100);
                                    transform: perspective(200px) rotatex(0deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}